<p-card>
    <ng-template pTemplate="title">
        Confirmation
    </ng-template>
    <ng-template pTemplate="subtitle">
        Appointment Summary
    </ng-template>
    <ng-template pTemplate="content">
        <div class="field col-12">
            <label>Name</label>
            <b>{{appointmentInformation.personalInformation.firstname ? appointmentInformation.personalInformation.firstname : '-'}}</b>
        </div>
        <div class="field col-12">
            <label>Email</label>
            <b>{{appointmentInformation.personalInformation.email ? appointmentInformation.personalInformation.email : '-'}}</b>
        </div>
        <div class="field col-12">
            <label>Duration</label>
            <b>{{ appointmentService.getSessionName(appointmentInformation.timeInformation.noOfSession) }}</b>
        </div>
        <div class="field col-12">
            <label>Date & Time</label>
            <b>{{ appointmentService.getBookedDateTime(appointmentInformation.timeInformation.date, appointmentInformation.timeInformation.time, appointmentInformation.timeInformation.sessionInterval) }} </b>
        </div>
        <div class="field col-12">
            <label>Amount</label>
            <b>HK${{ appointmentInformation.paymentInformation.price }}</b>
        </div>
        <div class="field col-12">
            <label>Payment Method</label>
            <b>{{ appointmentService.getPaymentMethodName(appointmentInformation.paymentInformation.method) }}</b>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-between ng-star-inserted">
            <p-button label="Change Payment Method" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            <p-button label="Pay Now" (onClick)="complete()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
        <div class="grid grid-nogutter justify-content-between ng-star-inserted">
            <div class="flex align-items-center justify-content-center p-2 border-round mr-1">Selected: {{ selectedPreviousDescription() }}</div>
            <div class="flex align-items-center justify-content-center p-2 border-round mr-1">Selected: {{ selectedDescription() }}</div>
        </div>
    </ng-template>
</p-card>
