
<p-card>
    <ng-template pTemplate="title">
        {{ 'Date & Time' | translate }}
    </ng-template>
    <ng-template pTemplate="subtitle">
        {{ 'Choose your date & time' | translate }}
    </ng-template>
    <ng-template pTemplate="content">
        <p-progressSpinner *ngIf="loading === true" class="row-spinner"></p-progressSpinner>
        <p-tabView class="appointment-picker" *ngIf="timeslotSetting == 'week' && timeSlots" [scrollable]="multipleYear">
            <p-tabPanel [header]="appointmentService.formatDate(item.date, true)" *ngFor="let item of timeSlots; let i = index" [selected]="i == 0">
                <h3 class="text-primary text-center" *ngIf="item.dayoff">
                    {{ 'Day off' | translate }}
                </h3>
                <div *ngIf="!item.dayoff">
                    <p-button *ngFor="let timeslot of item.freeslots" [styleClass]="getBtnCls(timeslot, item.date)" (click)="selectTime(timeslot, item.date)">
                        <ng-template pTemplate="content">
                            <span class="pi pi-angle-right p-button-icon p-button-icon-right ng-star-inserted"></span>
                            <span class="p-button-label ng-star-inserted">
                                {{ this.appointmentService.formatTime(timeslot.time, item.date) }}
                            </span>
                            <span class="text-right align-items-end align-content-end justify-content-end">{{ timeslot.price | currency:'HK$' }}</span>
                        </ng-template>
                    </p-button>
                </div>
            </p-tabPanel>
        </p-tabView>
        <div class="grid" *ngIf="timeslotSetting == 'trainer_date'">
            <div class="col">
                <p-calendar [(ngModel)]="selectedDate" [disabledDates]="nonWorkingDates" (onMonthChange)="loadTrainerNonWorkDates($event)" (onSelect)="loadTrainerTimeslotByDate($event)" [inline]="true"></p-calendar>
            </div>
            <div class="col">
                <p-progressSpinner *ngIf="trainerTsLoading === true" class="row-spinner"></p-progressSpinner>
                <h3 class="text-primary text-center" *ngIf="!timeSlots">
                    {{ 'Please select date from the calendar' | translate }}
                </h3>
                <p-panel [header]="appointmentService.formatDate(selectedDate, true)" *ngFor="let item of timeSlots;">
                    <p-button *ngFor="let timeslot of item.freeslots" [styleClass]="getBtnCls(timeslot, item.date)" (click)="selectTime(timeslot, item.date)">
                        <ng-template pTemplate="content">
                            <span class="pi pi-angle-right p-button-icon p-button-icon-right ng-star-inserted"></span>
                            <span class="p-button-label ng-star-inserted">
                                {{ this.appointmentService.formatTime(timeslot.time, item.date) }}
                            </span>
                            <span class="text-right align-items-end align-content-end justify-content-end">{{ timeslot.price | currency:'HK$' }}</span>
                        </ng-template>
                    </p-button>
                    <h5 *ngIf="item.freeslots.length == 0 && !item.dayoff">{{ 'Fully booked' | translate }}</h5>
                    <h5 *ngIf="item.freeslots.length == 0 && !item.dayoff && timeInformation.noOfSession > 1">{{ 'OR' | translate }} {{ 'Time Length issue' | translate }}</h5>
                </p-panel>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-between ng-star-inserted">
            <p-button label="{{ 'Change Duration' | translate }}" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            <p-button label="{{ (paymentSelection ? 'Payment Method' : 'Confirmation') | translate }}" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
        <div class="grid grid-nogutter justify-content-between ng-star-inserted">
            <div class="flex align-items-center justify-content-center p-2 border-round mr-1">{{ 'Selected' | translate }}: {{ selectedPreviousDescription() }}</div>
            <div class="flex align-items-center justify-content-center p-2 border-round mr-1">{{ 'Selected' | translate }}: {{ selectedDescription() }}</div>
        </div>
    </ng-template>
</p-card>

