    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3" *ngIf="data.showBookingCount">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">{{ 'Appointments' | translate }}</span>
                        <div class="text-900 font-medium text-xl">{{ data.totalBooking }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-exclamation-circle text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{ data.totalFutureBooking }} upcoming </span>
                <span class="text-500">{{ ('Appointments' | translate).toLowerCase() }}</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3" *ngIf="data.showCustomerCount">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">{{ 'Finance' | translate }}</span>
                        <div class="text-900 font-medium text-xl">{{ data.totalSales | currency:'HK$' }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-dollar text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-pink-500 font-medium">{{ data.totalUnpaid | currency:'HK$' }} </span>
                <span class="text-500">{{ 'unpaid' | translate }}</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3" *ngIf="data.showCustomerCount">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">{{ 'Customers' | translate }}</span>
                        <div class="text-900 font-medium text-xl">{{ data.totalCustomer }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-user text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{ data.totalCustomerLastWeek }}  </span>
                <span class="text-500">{{ 'new last week' | translate }}</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3" *ngIf="data.showCustomerCount">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">{{ 'Load' | translate }}</span>
                        <div class="text-900 font-medium text-xl">{{ data.percentLoad }} %</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <h5>{{ 'Upcoming Appointments' | translate }}</h5>
                <p-table [value]="appointments" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="time">{{ 'Date & Time' | translate }} <p-sortIcon field="time"></p-sortIcon></th>
                            <th *ngIf="data.role != 'external_coach'" pSortableColumn="trainer">{{ 'Trainer' | translate }} <p-sortIcon field="trainer"></p-sortIcon></th>
                            <th *ngIf="data.isTrainerUser" pSortableColumn="customer">{{ 'Customer' | translate }} <p-sortIcon field="customer"></p-sortIcon></th>
                            <th pSortableColumn="duration">{{ 'Duration' | translate }} <p-sortIcon field="duration"></p-sortIcon></th>
                            <th pSortableColumn="status">{{ 'Status' | translate }} <p-sortIcon field="status"></p-sortIcon></th>
<!--                            <th>{{ 'View' | translate }}</th>-->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-booking>
                        <tr>
                            <td colspan="5">
                                <span class="font-bold ml-2" [innerHTML]="'No booking found.' | translate"></span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-appointment>
                        <tr>
                            <td style="width: 30%; min-width: 9rem;">
                                {{ lemonade.formatFullDateTime(appointment.start_time, true) }}
                                <i class="ml-2 pi pi-circle-fill" [style]="{color: appointment.role_color_name}"></i>
                            </td>
                            <td *ngIf="data.role != 'external_coach'" style="width: 20%; min-width: 8rem;">
                                {{ appointment.user_name }} <br/>
                                <span class="booking-badge bg-blue-50 text-blue-400 text-xs">{{ appointment.package_name }}</span>
                            </td>
                            <td *ngIf="data.isTrainerUser" style="width: 20%; min-width: 8rem;">
                                {{ appointment.customer_name }}
                            </td>
                            <td style="width: 15%; min-width: 8rem;">
                                <p-avatar [label]="lemonade.getInitial(appointment.name)" shape="circle" [style]="{'background-color': appointment.color, 'color': '#fff'}"></p-avatar>
                                {{ lemonade.duration(appointment.start_time, appointment.end_time) }}
                            </td>
                            <td style="width: 15%; min-width: 8rem;">
                                <span [class]="'booking-badge status-' + appointment.status">{{ appointment.status | translate }}</span>
                            </td>
<!--                            <td style="width: 15%;">-->
<!--                                <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>-->
<!--                            </td>-->
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-12 xl:col-6">
            <div class="card" *ngIf="data.isTrainerUser">
                <h5>{{ 'Dashboard Current Status' | translate:{room: 'Room' | translate } }}</h5>
                <p-table [value]="rooms" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="room">{{ 'Room' | translate }} <p-sortIcon field="room"></p-sortIcon></th>
                            <th pSortableColumn="status">{{ 'Status' | translate }} <p-sortIcon field="status"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-room>
                        <tr>
                            <td style="width: 40%; min-width: 9rem;">
                                <p-avatar [label]="lemonade.getInitial(room.name)" shape="circle" [style]="{'background-color': room.color, 'color': '#fff'}"></p-avatar>
                                {{ room.name }}
                            </td>
                            <td style="width: 25%; min-width: 8rem;">
                                <span class="text-xs user-badge status-{{ room.appointment_id > 0 ? 'banned' : 'active' }}"><i class="pi pi-circle text-xs pt-2 {{ room.appointment_id > 0 ? 'text-pink-500' : 'text-green-500' }}"></i> {{ (room.appointment_id > 0 ? 'Occupied' : 'Idle') | translate }}</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card" *ngIf="data.role == 'user' || data.role == 'member'">
                <h5>{{ 'Remaining packages' | translate }}</h5>
                <p-table [value]="packages" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="package_name">{{ 'Package name' | translate }}</th>
                            <th pSortableColumn="remaining_lesson">{{ 'Total Remaining' | translate }}</th>
                            <th pSortableColumn="expiry_date">{{ 'Expiry Date' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-package>
                        <tr>
                            <td style="width: 40%; min-width: 9rem;">
                                <span class="booking-badge bg-blue-50 text-blue-400">{{ package.name }}</span>
                            </td>
                            <td style="width: 35%; min-width: 8rem;">
                                <span class="booking-badge bg-gray-50 text-gray-400"><span class="font-bold text-pink-500">{{ package.remaining }}</span> / {{ getOrderQuantity(package.recurring) }} {{ 'Lesson' | translate }}</span>
                                <div class="text-xs">{{ 'Last lesson on' | translate }}: {{ lemonade.formatDate(package.last_lesson_date, true) }}</div>
                            </td>
                            <td style="width: 25%; min-width: 3rem;">
                                {{ getOrderExpiryDate(package.recurring) }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card" *ngIf="data.showUnknown">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Best Selling Products</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>
                <ul class="list-none p-0 m-0">
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Space T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-orange-500 h-full" [ngStyle]="{width: '50%'}"></div>
                            </div>
                            <span class="text-orange-500 ml-3 font-medium">%50</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Portal Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-cyan-500 h-full" [ngStyle]="{width: '16%'}"></div>
                            </div>
                            <span class="text-cyan-500 ml-3 font-medium">%16</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Supernova Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-pink-500 h-full" [ngStyle]="{width: '67%'}"></div>
                            </div>
                            <span class="text-pink-500 ml-3 font-medium">%67</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Wonders Notebook</span>
                            <div class="mt-1 text-600">Office</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-green-500 h-full" [ngStyle]="{width: '35%'}"></div>
                            </div>
                            <span class="text-green-500 ml-3 font-medium">%35</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Mat Black Case</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-purple-500 h-full" [ngStyle]="{width: '75%'}"></div>
                            </div>
                            <span class="text-purple-500 ml-3 font-medium">%75</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Robots T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-teal-500 h-full" [ngStyle]="{width: '40%'}"></div>
                            </div>
                            <span class="text-teal-500 ml-3 font-medium">%40</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card" *ngIf="data.showSalesChart">
                <h5>{{ 'Weekly Sales' | translate }}</h5>
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>

            <div class="card">
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>{{ 'Notifications' | translate }}</h5>
<!--                    <div>-->
<!--                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>-->
<!--                        <p-menu #menu [popup]="true" [model]="items"></p-menu>-->
<!--                    </div>-->
                </div>

                <span class="block text-600 font-medium mb-3" [translate]="'Last 5 notifications'" [translateParams]="{param: noOfNotifications }"></span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border" *ngFor="let message of notifications">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3 {{ message.has_read == 0 ? 'font-bold' : '' }}">{{ message.title }} - {{ message.body }}</span>
                    </li>
                </ul>
            </div>

        </div>

    </div>

