<p-card>
    <ng-template pTemplate="title">
        {{ 'Confirmation' | translate }}
    </ng-template>
    <ng-template pTemplate="subtitle">
        {{ 'Appointment Summary' | translate }}
    </ng-template>
    <ng-template pTemplate="content">
        <div class="field col-12">
            <label>{{ 'Name' | translate }}</label>
            <b>{{appointmentInformation.personalInformation.firstname ? appointmentInformation.personalInformation.firstname : '-'}}</b>
        </div>
        <div class="field col-12">
            <label>{{ 'Email' | translate }}</label>
            <b>{{appointmentInformation.personalInformation.email ? appointmentInformation.personalInformation.email : '-'}}</b>
        </div>
        <div class="field col-12">
            <label>{{ 'Service' | translate }}</label>
            <b>{{ appointmentService.selectedService.name }}</b>
        </div>
        <div class="field col-12" *ngIf="appointmentService.selectedService.trainer">
            <label>{{ 'Trainer' | translate }}</label>
            <b>{{ appointmentService.selectedService.trainer.name }}</b>
        </div>
        <div class="field col-12">
            <label>{{ 'Duration' | translate }}</label>
            <b>{{ appointmentService.getSessionName(appointmentInformation.timeInformation.noOfSession) }}</b>
        </div>
        <div class="field col-12">
            <label>{{ 'Date & Time' | translate }}</label>
            <b>{{ appointmentService.getBookedDateTime(appointmentInformation.timeInformation.date, appointmentInformation.timeInformation.time, appointmentInformation.timeInformation.sessionInterval, appointmentInformation.timeInformation.noOfSession) }} </b>
        </div>
        <div class="field col-12">
            <label>{{ 'Amount' | translate }}</label>
            <b>HK${{ appointmentInformation.paymentInformation.price }}</b>
        </div>
        <div class="field col-12" *ngIf="appointmentInformation.paymentSelection">
            <label>{{ 'Payment Method' | translate }}</label>
            <b>{{ appointmentService.getPaymentMethodName(appointmentInformation.paymentInformation.method) }}</b>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-between ng-star-inserted">
            <p-button *ngIf="!appointmentInformation.paymentSelection" label="{{ 'Change Date & Time' | translate }}" (onClick)="prevDateTimePage()" icon="pi pi-angle-left"></p-button>
            <p-button *ngIf="appointmentInformation.paymentSelection" label="{{ 'Change Payment Method' | translate }}" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            <p-button label="{{ getCompleteButtonText() | translate }}" (onClick)="complete()" [disabled]="submitting" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
        <div class="grid grid-nogutter justify-content-between ng-star-inserted">
            <div *ngIf="!appointmentInformation.paymentSelection" class="flex align-items-center justify-content-center p-2 border-round mr-1">{{ 'Selected' | translate }}: {{ selectedPreviousDateTimeDescription() }}</div>
            <div *ngIf="appointmentInformation.paymentSelection" class="flex align-items-center justify-content-center p-2 border-round mr-1">{{ 'Selected' | translate }}: {{ selectedPreviousDescription() }}</div>
            <div class="flex align-items-center justify-content-center p-2 border-round mr-1">{{ selectedDescription() | translate }}</div>
        </div>
    </ng-template>
</p-card>
<!-- a modal to avoid duplicate submission -->
<p-dialog [(visible)]="submitting" [showHeader]="false" [resizable]="false" [modal]="true" [focusOnShow]="false" >
    <div style="width: 300px;height: 350px;padding: 35%;">
        <p-progressSpinner></p-progressSpinner>
        <div>
            {{ 'Submitting...' | translate }}
        </div>
    </div>
</p-dialog>
