<h4>{{ this.pageHeader | translate }}</h4>
<div class="card">
    <!-- Search fields -->
    <div class="p-fluid grid">
        <div class="field col-12 md:col-6">
            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" (onSelect)="loadData()" inputId="range"></p-calendar>
        </div>
    </div>

    <p-table [value]="bookings" [loading]="loading" dataKey="id" sortField="appointment_date" sortMode="single" [scrollable]="true" rowGroupMode="subheader" groupRowsBy="appointment_date" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:200px">{{ 'Date & Time' | translate }}</th>
                <th *ngIf="showCustomer" style="min-width:200px">{{ 'Customer' | translate }}</th>
                <th style="min-width:120px">{{ 'Table' | translate }}</th>
                <th style="min-width:120px">{{ 'Duration' | translate }}</th>
                <th style="min-width:120px">{{ 'Payment' | translate }}</th>
                <th style="min-width:120px">{{ 'Status' | translate }}</th>
                <th style="min-width:120px">{{ 'Punch In' | translate }}</th>
                <th style="min-width:20px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-booking>
            <tr>
                <td colspan="8">
                    <span class="font-bold ml-2" [innerHTML]="'No booking found.' | translate"></span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-booking>
            <tr pRowGroupHeader>
                <td colspan="8">
                    <i class="pi pi-calendar"></i>
<!--                    <img [alt]="customer.representative.name" src="assets/showcase/images/demo/avatar/{{customer.representative.image}}" width="32" style="vertical-align: middle" />-->
                    <span class="font-bold ml-2">{{booking.appointment_date}}</span>
                </td>
            </tr>
        </ng-template>
<!--        <ng-template pTemplate="groupfooter" let-appointment>-->
<!--            <tr class="p-rowgroup-footer">-->
<!--                <td style="min-width: 80%">-->
<!--                    <div style="text-align: right; width: 100%">Total Customers</div>-->
<!--                </td>-->
<!--                <td style="width: 20%">{{calculateCustomerTotal(customer.representative.name)}}</td>-->
<!--            </tr>-->
<!--        </ng-template>-->
        <ng-template pTemplate="body" let-appointment let-rowIndex="rowIndex" let-expanded="expanded">
            <tr >
                <td style="min-width:200px">
                    <span class="p-column-title">{{ 'Date & Time' | translate }}</span>
                    <span class="booking-badge bg-purple-50 text-purple-400">{{ appointmentService.formatDateTime(appointment.start_time) }} - {{ appointmentService.formatDateTime(appointment.end_time) }}</span>
                </td>
                <td *ngIf="showCustomer" style="min-width:200px">
                    <span class="p-column-title">{{ 'Customer' | translate }}</span>
                    {{ appointment.customer_name }}
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Table' | translate }}</span>
                    <p-avatar [label]="getInitial(appointment.name)" shape="circle" [style]="{'background-color': '#' + appointmentService.colors[appointment.room_id], 'color': '#fff'}"></p-avatar>
                    <span class="pl-2"> {{appointment.name}}</span>
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Duration' | translate }}</span>
                    {{ duration(appointment) }}
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Payment' | translate }}</span>
                    <div [pTooltip]="isPaid(appointment) ? 'Paid' : 'Not paid' | translate" tooltipPosition="bottom">
                        <i [class]="isPaid(appointment) ? 'pi pi-money-bill text-green-600' : 'pi pi-exclamation-circle text-pink-600'"></i>
                        <span [class]="isPaid(appointment) ? 'pl-1 text-green-600' : 'pl-1 text-pink-600'"> {{ appointment.price | currency:'HK$' }}</span>
                    </div>
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Status' | translate }}</span>
                    <span [class]="'booking-badge status-' + appointment.status">{{ appointment.status | translate }}</span>
                    <p-progressSpinner *ngIf="appointment.loading === true" class="row-spinner ml-2"></p-progressSpinner>
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Punch In' | translate }}</span>
                    <button pButton type="button" *ngIf="ableCheckin(appointment)" class="p-button-text" icon="pi pi-clock" iconPos="left" (click)="punchIn(appointment)"></button>
                    <span class="">{{ appointmentService.formatDateTime(appointment.checkin) }}</span>
<!--                    / <span class="">{{ appointmentService.formatDateTime(appointment.checkout) }}</span>-->
                </td>
                <td style="min-width:20px">
                    <button pButton type="button" [disabled]="!canAmend(appointment)" pTooltip="{{ 'Reschedule' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-pencil" (click)="reschedule(appointment)"></button>
                    <button pButton type="button" [disabled]="isPaid(appointment) || !canAmend(appointment)" pTooltip="{{ 'Cancel Booking' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-times" (click)="cancel(appointment)"></button>
                    <button pButton type="button" [disabled]="isPaid(appointment) || !isValidStatus(appointment)" pTooltip="{{ 'Pay Now' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-credit-card" (click)="makePayment(appointment)"></button>
                </td>
            </tr>
        </ng-template>
<!--        <ng-template pTemplate="rowexpansion" let-appointment>-->
<!--            <tr>-->
<!--                <td colspan="8">hihi</td>-->
<!--            </tr>-->
<!--        </ng-template>-->

    </p-table>

    <p-confirmDialog header="{{ 'Confirmation' | translate }}" icon="pi pi-clock"></p-confirmDialog>
</div>
