<div class="flex justify-content-between">
    <div class="flex align-items-center justify-content-center p-2 border-round mr-1 text-2xl font-bold">
        {{ this.pageHeader | translate }}
    </div>
    <div class="flex align-items-center justify-content-center py-2 border-round">
        <button *ngIf="newable" pButton pRipple label="{{ 'New' | translate }}" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
    </div>
</div>
<div class="card">
    <!-- Search fields -->
    <div class="p-fluid grid">
        <div class="field col-12 md:col-6">
            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" (onSelect)="loadData()" inputId="range"></p-calendar>
        </div>
    </div>

    <p-table [value]="bookings" [loading]="loading" dataKey="id" sortField="appointment_date" sortMode="single" [scrollable]="true" rowGroupMode="subheader" groupRowsBy="appointment_date" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:200px">{{ 'Date & Time' | translate }}</th>
                <th *ngIf="showCustomer" style="min-width:200px">{{ 'Customer' | translate }}</th>
                <th *ngIf="showTrainer" style="min-width:120px">{{ 'Trainer' | translate }}</th>
                <th style="min-width:120px">{{ 'Table' | translate }}</th>
                <th style="min-width:120px">{{ 'Duration' | translate }}</th>
                <th style="min-width:120px">{{ 'Payment' | translate }}</th>
                <th style="min-width:120px">{{ 'Status' | translate }}</th>
                <th style="min-width:120px">{{ 'Punch In' | translate }}</th>
                <th style="min-width:20px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-booking>
            <tr>
                <td colspan="8">
                    <span class="font-bold ml-2" [innerHTML]="'No booking found.' | translate"></span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-booking>
            <tr pRowGroupHeader>
                <td colspan="8">
                    <i class="pi pi-calendar"></i>
<!--                    <img [alt]="customer.representative.name" src="assets/showcase/images/demo/avatar/{{customer.representative.image}}" width="32" style="vertical-align: middle" />-->
                    <span class="font-bold ml-2">{{booking.appointment_date}}</span>
                </td>
            </tr>
        </ng-template>
<!--        <ng-template pTemplate="groupfooter" let-appointment>-->
<!--            <tr class="p-rowgroup-footer">-->
<!--                <td style="min-width: 80%">-->
<!--                    <div style="text-align: right; width: 100%">Total Customers</div>-->
<!--                </td>-->
<!--                <td style="width: 20%">{{calculateCustomerTotal(customer.representative.name)}}</td>-->
<!--            </tr>-->
<!--        </ng-template>-->
        <ng-template pTemplate="body" let-appointment let-rowIndex="rowIndex" let-expanded="expanded">
            <tr >
                <td style="min-width:200px">
                    <span class="p-column-title">{{ 'Date & Time' | translate }}</span>
                    <span class="booking-badge bg-purple-50 text-purple-400">{{ appointmentService.formatDateTime(appointment.start_time) }} - {{ appointmentService.formatDateTime(appointment.end_time) }}</span>
                </td>
                <td *ngIf="showCustomer" style="min-width:200px">
                    <i class="pi pi-circle-fill mr-2" [style]="{color: appointment.role_color_name}"></i>
                    <span class="p-column-title">{{ 'Customer' | translate }}</span>
                    {{ appointment.customer_name }}
                </td>
                <td *ngIf="showTrainer" style="min-width:120px">
                    <span class="p-column-title">{{ 'Trainer' | translate }}</span>
                    {{ appointment.user_name }}
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Table' | translate }}</span>
                    <p-avatar [label]="lemonade.getInitial(appointment.name)" shape="circle" [style]="{'background-color': appointment.color, 'color': '#fff'}"></p-avatar>
                    <span class="pl-2"> {{appointment.name}}</span>
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Duration' | translate }}</span>
                    {{ duration(appointment) }}
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Payment' | translate }}</span>
                    <div [pTooltip]="isPaid(appointment) ? ('Paid' | translate) : ('unpaid' | translate)" tooltipPosition="bottom">
                        <i [class]="isPaid(appointment) ? 'pi pi-money-bill text-green-600' : 'pi pi-exclamation-circle text-pink-600'"></i>
                        <span [class]="isPaid(appointment) ? 'pl-1 text-green-600' : 'pl-1 text-pink-600'"> {{ appointment.price | currency:'HK$' }}</span>
                    </div>
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Status' | translate }}</span>
                    <span [class]="'booking-badge status-' + appointment.status">{{ appointment.status | translate }}</span>
                    <button pButton type="button" *ngIf="!showCustomer" [disabled]="isPaid(appointment) || !canAmend(appointment)" pTooltip="{{ 'Cancel Booking' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-times" (click)="cancel(appointment)"></button>
                    <button pButton type="button" *ngIf="showCustomer" [disabled]="!isAbleApprove(appointment)" pTooltip="{{ 'Reject' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-times" (click)="reject(appointment)"></button>
                    <button pButton type="button" *ngIf="showCustomer" [disabled]="!isAbleApprove(appointment)" pTooltip="{{ 'Approve' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-check" (click)="approve(appointment)"></button>
                    <p-progressSpinner *ngIf="appointment.loading === true" class="row-spinner ml-2"></p-progressSpinner>
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Punch In' | translate }}</span>
                    <button pButton type="button" *ngIf="ableCheckin(appointment)" class="p-button-text" icon="pi pi-clock" iconPos="left" (click)="punchIn(appointment)"></button>
                    <span class="">{{ appointmentService.formatDateTime(appointment.checkin) }}</span>
<!--                    / <span class="">{{ appointmentService.formatDateTime(appointment.checkout) }}</span>-->
                </td>
                <td style="min-width:20px">
                    <button pButton type="button" [disabled]="!canAmend(appointment)" pTooltip="{{ 'Reschedule' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-replay" (click)="reschedule(appointment)"></button>
                    <button pButton type="button" [disabled]="isPaid(appointment) || !isValidStatus(appointment)" pTooltip="{{ 'Pay Now' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-credit-card" (click)="makePayment(appointment)"></button>
                </td>
            </tr>
        </ng-template>
<!--        <ng-template pTemplate="rowexpansion" let-appointment>-->
<!--            <tr>-->
<!--                <td colspan="8">hihi</td>-->
<!--            </tr>-->
<!--        </ng-template>-->

    </p-table>

    <p-confirmDialog header="{{ 'Confirmation' | translate }}" icon="pi pi-clock"></p-confirmDialog>
</div>

<p-dialog [(visible)]="formDialog" [style]="{width:'50em', height: '100vh'}" header="{{ formHeader | translate:{name: 'Appointment' | translate } }}" position="right" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name"><span class="required">*</span> {{ 'Customer' | translate }}</label>
            <p-dropdown id="name" [options]="customers" [(ngModel)]="appointment.timeInformation.customerId" optionLabel="name" optionValue="id" (onClick)="loadTime($event)" placeholder="{{'Select a Customer' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : submitted && appointment.timeInformation.customerId <= 0}">
<!--                <ng-template pTemplate="selectedItem">-->
<!--                    <i class="pi pi-circle-fill" [style]="{color: (appointment.role_color_name)}"></i>-->
<!--                    {{ appointment.user_id }}-->
<!--                </ng-template>-->
                <ng-template let-item pTemplate="item">
                    <i class="pi pi-circle-fill" [style]="{color: item.role.color_name}"></i>
                    {{ item.name }}
                </ng-template>
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && appointment.timeInformation.customerId <= 0">{{ 'Field is required' | translate: {field: 'Customer' | translate} }}</small>
        </div>

        <div class="field" *ngIf="showTrainer">
            <label for="trainer">{{ 'Trainer' | translate }}</label>
            <p-dropdown id="trainer" [options]="trainers" [(ngModel)]="appointment.timeInformation.trainerId" optionLabel="name" optionValue="id" (onClick)="loadTime($event)" placeholder="{{'Select a Trainer' | translate}}">
                <!--                <ng-template pTemplate="selectedItem">-->
                <!--                    <i class="pi pi-circle-fill" [style]="{color: (appointment.role_color_name)}"></i>-->
                <!--                    {{ appointment.user_id }}-->
                <!--                </ng-template>-->
                <ng-template let-item pTemplate="item">
                    <i class="pi pi-circle-fill" [style]="{color: item.role.color_name}"></i>
                    {{ item.name }}
                </ng-template>
            </p-dropdown>
        </div>

        <div class="field">
            <label for="service"><span class="required">*</span> {{ 'Service' | translate }}</label>
            <p-dropdown id="service" [options]="services" [(ngModel)]="appointment.timeInformation.serviceId" optionLabel="name" optionValue="id" (onClick)="loadSessions($event)" [ngClass]="{'ng-invalid ng-dirty' : submitted && appointment.timeInformation.serviceId <= 0}">
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && appointment.timeInformation.serviceId <= 0">{{ 'Field is required' | translate: {field: 'Service' | translate} }}</small>
        </div>

        <div class="field">
            <label for="room"><span class="required">*</span> {{ 'Room' | translate }}</label>
            <p-dropdown id="room" [options]="rooms" [(ngModel)]="appointment.timeInformation.roomId" optionLabel="name" optionValue="id" (onClick)="loadTime($event)" [ngClass]="{'ng-invalid ng-dirty' : submitted && appointment.timeInformation.roomId <= 0}">
                <ng-template let-item pTemplate="item">
                    <p-avatar [label]="lemonade.getInitial(item.name)" shape="circle" [style]="{'background-color': item.color, 'color': '#fff'}"></p-avatar>
                    {{ item.name | translate }}
                </ng-template>
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && appointment.timeInformation.roomId <= 0">{{ 'Field is required' | translate: {field: 'Room' | translate} }}</small>
        </div>

        <div class="field">
            <label for="duration"><span class="required">*</span> {{ 'Duration' | translate }}</label>
            <p-dropdown id="duration" [options]="sessions" [(ngModel)]="appointment.timeInformation.noOfSession" optionValue="code" (onClick)="loadTime($event)">
                <ng-template pTemplate="selectedItem">
                    {{ appointmentService.getSessionName(appointment.timeInformation.noOfSession, sessions) }}
                </ng-template>
                <ng-template let-time pTemplate="item">
                    <div [translate]="'hour Hours'" [translateParams]="{hour: time.hour, s: time.hour >= 2 ? 's' : ''}"></div>
                </ng-template>
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.timeInformation.noOfSession">{{ 'Field is required' | translate: {field: 'Duration' | translate} }}</small>
        </div>

        <div class="field">
            <label for="date"><span class="required">*</span> {{ 'Date' | translate }}</label>
            <p-calendar id="date" [(ngModel)]="appointment.timeInformation.date" (onSelect)="loadTime($event)" required></p-calendar>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.timeInformation.date">{{ 'Field is required' | translate: {field: 'Date' | translate} }}</small>
        </div>

        <div class="field">
            <label for="time"><span class="required">*</span> {{ 'Time' | translate }}</label>
            <p-dropdown id="time" [disabled]="times.length == 0" [options]="times" (onClick)="setPriceByTime($event)" required [(ngModel)]="appointment.timeInformation.time" optionValue="time" [ngClass]="{'ng-invalid ng-dirty' : submitted && !appointment.timeInformation.time}">
                <ng-template pTemplate="selectedItem">
                    {{ this.appointmentService.formatTime(appointment.timeInformation.time) }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <div class="flex align-items-center justify-content-between">
                        <div>{{ this.appointmentService.formatTime(item.time) }}</div>
                        <div>{{ item.price | currency:'HK$' }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.timeInformation.time">{{ 'Field is required' | translate: {field: 'Time' | translate} }}</small>
        </div>

        <div class="field">
            <label>{{ 'Price' | translate }}</label>
            <b>{{ appointment.paymentInformation.price | currency:'HK$'}}</b>
        </div>

        <div class="field">
            <p-checkbox name="notify_parties" [binary]="true" label="{{ 'Notify Customer' | translate }}" [(ngModel)]="appointment.notify_parties"></p-checkbox>
        </div>

        <div class="field">
            <label for="status">{{ 'approval' | translate }}?</label>
            <p-dropdown id="status" [options]="statuses" optionValue="code" [(ngModel)]="appointment.timeInformation.status" placeholder="{{ 'Select a Status' | translate }}">
                <ng-template pTemplate="selectedItem">
                    {{ lemonade.comboRenderer(statuses, appointment.timeInformation.status) | translate }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{ item.name | translate }}
                </ng-template>
            </p-dropdown>
        </div>

        <div class="field">
            <label for="remark">{{ 'Remark' | translate }}</label>
            <textarea id="remark" pInputTextarea [rows]="5" [(ngModel)]="appointment.internal_remark"></textarea>
        </div>

        <p-toast></p-toast>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'Cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ 'Save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
