<div class="flex justify-content-between">
    <div class="flex align-items-center justify-content-center p-2 border-round mr-1 text-2xl font-bold">
        {{ this.pageHeader | translate }}
    </div>
    <div class="flex align-items-center justify-content-center py-2 border-round">
        <button *ngIf="newable" pButton pRipple label="{{ 'New' | translate }}" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
    </div>
</div>
<div class="card">
    <!-- Search fields -->
    <div class="p-fluid grid">
        <div class="field col-12 md:col-3">
            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" (onSelect)="loadData()" inputId="range" [dateFormat]="lemonade.dateFormat"></p-calendar>
        </div>
        <div class="field col-12 md:col-3">
            <p-autoComplete [(ngModel)]="userObj" [forceSelection]="true" [suggestions]="users" (completeMethod)="searchUsers($event)" (onSelect)="loadData()" field="name" placeholder="{{'Search User' | translate }}">
                <ng-template let-item pTemplate="item">
                    <i class="pi pi-circle-fill" [style]="{color: item.role.color_name}"></i>
                    {{ item.name }}
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="field col-12 md:col-3">
            <p-dropdown [(ngModel)]="trainerObj" [options]="trainers" optionValue="id" optionLabel="name" (onChange)="loadData()" placeholder="{{'Search F' | translate:{field: 'Trainer' | translate } }}">
                <ng-template let-item pTemplate="item">
                    <i class="pi pi-circle-fill" [style]="{color: item.role.color_name}"></i>
                    {{ item.name }}
                </ng-template>
            </p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
            <p-dropdown [options]="statuses" optionValue="code" [(ngModel)]="aptStatus" (onChange)="loadData()" (onClear)="loadData()" [showClear]="true" placeholder="{{ 'Search F' | translate:{field: 'Status' | translate } }}">
                <ng-template pTemplate="selectedItem">
                    {{ lemonade.comboRenderer(statuses, aptStatus) | translate }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{ item.name | translate }}
                </ng-template>
            </p-dropdown>
        </div>
    </div>

    <p-table [value]="bookings" [loading]="loading" dataKey="id" sortField="appointment_date" sortMode="single" [scrollable]="true" rowGroupMode="subheader" groupRowsBy="appointment_date" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:200px">{{ 'Date & Time' | translate }}</th>
                <th *ngIf="showCustomer" style="min-width:150px">{{ 'Customer' | translate }}</th>
                <th *ngIf="showTrainer" style="min-width:150px">{{ 'Trainer' | translate }}</th>
                <th style="min-width:200px">{{ 'Table' | translate }} / {{ 'Duration' | translate }}</th>
                <th style="min-width:120px" *ngIf="supportFinance">{{ 'Payment' | translate }}</th>
                <th style="min-width:120px">{{ 'Status' | translate }}</th>
                <th style="min-width:100px">{{ 'Punch In' | translate }}</th>
                <th style="min-width:20px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-booking>
            <tr>
                <td colspan="8">
                    <span class="font-bold ml-2" [innerHTML]="'No booking found.' | translate"></span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-booking>
            <tr pRowGroupHeader>
                <td colspan="8">
                    <i class="pi pi-calendar"></i>
<!--                    <img [alt]="customer.representative.name" src="assets/showcase/images/demo/avatar/{{customer.representative.image}}" width="32" style="vertical-align: middle" />-->
                    <span class="font-bold ml-2">{{ lemonade.formatDate(booking.appointment_date, true) }}</span>
                </td>
            </tr>
        </ng-template>
<!--        <ng-template pTemplate="groupfooter" let-appointment>-->
<!--            <tr class="p-rowgroup-footer">-->
<!--                <td style="min-width: 80%">-->
<!--                    <div style="text-align: right; width: 100%">Total Customers</div>-->
<!--                </td>-->
<!--                <td style="width: 20%">{{calculateCustomerTotal(customer.representative.name)}}</td>-->
<!--            </tr>-->
<!--        </ng-template>-->
        <ng-template pTemplate="body" let-appointment let-rowIndex="rowIndex" let-expanded="expanded">
            <tr >
                <td style="min-width:200px">
                    <span class="p-column-title">{{ 'Date & Time' | translate }}</span>
                    <span class="booking-badge bg-purple-50 text-purple-400">{{ appointmentService.formatDateTime(appointment.start_time) }} - {{ appointmentService.formatDateTime(appointment.end_time) }}</span>
                </td>
                <td *ngIf="showCustomer" style="min-width:150px">
                    <span class="p-column-title">{{ 'Customer' | translate }}</span>
                    <div>
                        <p-avatar [label]="lemonade.getInitial(appointment.customer_name)" shape="circle" class="lemonade-avatar" [style]="{background: appointment.role_color_name}"></p-avatar>
                        {{ appointment.customer_name }}
                    </div>
                </td>
                <td *ngIf="showTrainer" style="min-width:150px">
                    <span class="p-column-title">{{ 'Trainer' | translate }}</span>
                    <div>
                        {{ appointment.user_name }}
                        <div class="booking-badge bg-blue-50 text-blue-400" *ngIf="appointment.package_name">{{ appointment.package_name }}</div>
                    </div>
                </td>
                <td style="min-width:200px">
                    <span class="p-column-title">{{ 'Table' | translate }} / {{ 'Duration' | translate }}</span>
                    <div class="flex">
                        <p-avatar [label]="lemonade.getInitial(appointment.name)" shape="circle" [style]="{'background-color': appointment.color, 'color': '#fff'}"></p-avatar>
                        <span class="pl-2"> {{appointment.name}}<br/><span class="booking-badge bg-green-50 text-green-400 pl-2">{{ duration(appointment) }}</span></span>
                    </div>
                </td>
                <td style="min-width:120px" *ngIf="supportFinance">
                    <span class="p-column-title">{{ 'Payment' | translate }}</span>
                    <div [pTooltip]="isPaid(appointment) ? ('Paid' | translate) : ('unpaid' | translate)" tooltipPosition="bottom">
                        <i [class]="isPaid(appointment) ? 'pi pi-money-bill text-green-600' : 'pi pi-exclamation-circle text-pink-600'"></i>
                        <span [class]="isPaid(appointment) ? 'pl-1 text-green-600' : 'pl-1 text-pink-600'"> {{ appointment.price | currency:'HK$' }}</span>
                    </div>
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Status' | translate }}</span>
                    <span [class]="'booking-badge status-' + appointment.status">{{ appointment.status | translate }}</span>
                    <button pButton type="button" *ngIf="!showCustomer" [disabled]="isPaid(appointment) || !canAmend(appointment)" pTooltip="{{ 'Cancel Booking' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-times" (click)="cancel(appointment)"></button>
                    <button pButton type="button" *ngIf="showCustomer" [disabled]="!isAbleApprove(appointment)" pTooltip="{{ 'Reject' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-times" (click)="reject(appointment)"></button>
                    <button pButton type="button" *ngIf="showCustomer" [disabled]="!isAbleApprove(appointment)" pTooltip="{{ 'Approve' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-check" (click)="approve(appointment)"></button>
                    <p-progressSpinner *ngIf="appointment.loading === true" class="row-spinner ml-2"></p-progressSpinner>
                </td>
                <td style="min-width:100px">
                    <span class="p-column-title">{{ 'Punch In' | translate }}</span>
                    <button pButton type="button" *ngIf="ableCheckinCourse(appointment)" class="p-button-text" icon="pi pi-check-square" iconPos="left" pTooltip="{{ 'Course Register' | translate }}" tooltipPosition="bottom" (click)="punchInCourse(appointment)"></button>
                    <button pButton type="button" *ngIf="ableCheckin(appointment)" class="p-button-text" icon="pi pi-clock" iconPos="left" pTooltip="{{ 'Punch In' | translate }}" (click)="punchIn(appointment)"></button>
                    <span *ngIf="appointment.checkin">{{ appointmentService.formatPunchInTime(appointment.start_time, appointment.checkin) }}</span>
<!--                    / <span class="">{{ appointmentService.formatDateTime(appointment.checkout) }}</span>-->
                </td>
                <td style="min-width:20px">
                    <button pButton type="button" *ngIf="canReschedule(appointment)" pTooltip="{{ 'Reschedule' | translate }}" tooltipPosition="bottom" class="p-button-text" label="{{ 'Reschedule' | translate }}" icon="pi pi-replay" (click)="reschedule($event, appointment)"></button>
                    <button pButton type="button" *ngIf="canTakeLeave(appointment)" pTooltip="{{ 'Take Leave' | translate }}" tooltipPosition="bottom" class="p-button-text" label="{{ 'Take Leave' | translate }}" icon="pi pi-shield" (click)="takeLeave(appointment)"></button>
                    <div *ngIf="appointment.take_leave_at" class="booking-badge bg-pink-50 text-pink-400">{{ 'Taken Leave' | translate }}</div>
                    <button *ngIf="supportFinance && supportPaymentGateway" pButton type="button" [disabled]="isPaid(appointment) || !isValidStatus(appointment)" pTooltip="{{ 'Pay Now' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-credit-card" (click)="payNow(appointment)"></button>
                </td>
            </tr>
        </ng-template>
<!--        <ng-template pTemplate="rowexpansion" let-appointment>-->
<!--            <tr>-->
<!--                <td colspan="8">hihi</td>-->
<!--            </tr>-->
<!--        </ng-template>-->

    </p-table>

    <p-confirmDialog header="{{ 'Confirmation' | translate }}" icon="pi pi-clock"></p-confirmDialog>
    <p-toast></p-toast>
</div>

<p-dialog [(visible)]="printDialog" [style]="{width:'90em', height: '100vh'}" position="center" [modal]="true" class="p-fluid">
    <iframe #iframe frameborder="0" width="100%" height="100%"></iframe>
</p-dialog>

<p-dialog [(visible)]="formDialog" [style]="{width:'50em', height: '100vh'}" header="{{ formHeader | translate:{name: 'Appointment' | translate } }}" position="right" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field" *ngIf="supportPackages">
            <label for="pkg">{{ 'Packages' | translate }}</label>
            <p-dropdown id="pkg" [options]="packages" [(ngModel)]="selectedPackage" [showClear]="true" (onClick)="loadPackage()" (onClear)="clearPackage()" placeholder="{{'Select field' | translate: {field: 'Package' | translate} }}">
                <ng-template pTemplate="selectedItem">
                    {{ selectedPackage.name }} <span class="text-xs booking-badge bg-pink-50 text-pink-400">{{ lemonade.getRecurringCycle(selectedPackage.recurring) | translate }}: {{ lemonade.displayRecurring(selectedPackage.recurring) }}</span>
                    <span class="text-xs" *ngIf="selectedPackage.start_date"> {{ lemonade.formatDate(selectedPackage.start_date) }}</span><span class="text-xs" *ngIf="selectedPackage.end_date"> {{ 'to' | translate }} {{ lemonade.formatDate(selectedPackage.end_date) }}</span><span class="text-xs booking-badge bg-purple-50 text-purple-400" *ngIf="selectedPackage.start_time"> {{ lemonade.formatTime(selectedPackage.start_time) }} - {{ lemonade.formatTime(selectedPackage.end_time) }}</span>
                    <span class="text-xs text-pink-500"> {{ selectedPackage.price | currency: 'HK$'}}</span>
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{ item.name | translate }} - <span class="text-xs">{{ item.description }}</span> <span class="text-xs booking-badge bg-pink-50 text-pink-400">{{ lemonade.getRecurringCycle(item.recurring) | translate }}: {{ lemonade.displayRecurring(item.recurring) }}</span>
                    <span class="text-xs" *ngIf="item.start_date"> {{ lemonade.formatDate(item.start_date) }}</span><span class="text-xs" *ngIf="item.end_date"> {{ 'to' | translate }} {{ lemonade.formatDate(item.end_date) }}</span><span class="text-xs booking-badge bg-purple-50 text-purple-400" *ngIf="item.start_time"> {{ lemonade.formatTime(item.start_time) }} - {{ lemonade.formatTime(item.end_time) }}</span>
                    <span class="text-xs text-pink-500"> {{ item.price | currency: 'HK$'}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="field">
            <label for="customer"><span class="required">*</span> {{ 'Customer' | translate }}</label>
            <p-autoComplete id="customer" [(ngModel)]="appointment.customer" [forceSelection]="true" [suggestions]="customers" (completeMethod)="searchCustomers($event)" (onSelect)="loadTime($event)" field="name" placeholder="{{'Select field' | translate: {field: 'Customer' | translate} }}" [ngClass]="{'ng-invalid ng-dirty' : submitted && !appointment.customer}">
                <!--                <ng-template pTemplate="selectedItem">-->
                <!--                    <i class="pi pi-circle-fill" [style]="{color: (appointment.role_color_name)}"></i>-->
                <!--                    {{ appointment.user_id }}-->
                <!--                </ng-template>-->
                <ng-template let-item pTemplate="item">
                    <i class="pi pi-circle-fill" [style]="{color: item.role.color_name}"></i>
                    {{ item.name }} / M: {{ item.mobile_no}} / E: {{ item.email}}
                </ng-template>
            </p-autoComplete>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.customer">{{ 'Field is required' | translate: {field: 'Customer' | translate} }}</small>
        </div>

        <div class="field" *ngIf="showTrainer">
            <label for="trainer"><span class="required" *ngIf="requiredTrainer">*</span> {{ 'Trainer' | translate }}</label>
            <p-dropdown id="trainer" [options]="trainers" [(ngModel)]="appointment.timeInformation.trainerId" [disabled]="selectedPackage && selectedPackage.trainer_id" optionLabel="name" optionValue="id" [showClear]="true" (onClick)="loadTime($event)" placeholder="{{'Select field' | translate: {field: 'Trainer' | translate} }}" [ngClass]="{'ng-invalid ng-dirty' : submitted && requiredTrainer && appointment.timeInformation.trainerId <= 0}">
                <!--                <ng-template pTemplate="selectedItem">-->
                <!--                    <i class="pi pi-circle-fill" [style]="{color: (appointment.role_color_name)}"></i>-->
                <!--                    {{ appointment.user_id }}-->
                <!--                </ng-template>-->
                <ng-template let-item pTemplate="item">
                    <i class="pi pi-circle-fill" [style]="{color: item.role.color_name}"></i>
                    {{ item.name }}
                </ng-template>
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && requiredTrainer && appointment.timeInformation.trainerId <= 0">{{ 'Field is required' | translate: {field: 'Trainer' | translate} }}</small>
        </div>

        <div class="field">
            <label for="service"><span class="required">*</span> {{ 'Service' | translate }}</label>
            <p-dropdown id="service" [options]="services" [(ngModel)]="appointment.timeInformation.serviceId" [disabled]="selectedPackage && selectedPackage.service_id" optionLabel="name" optionValue="id" (onClick)="loadSessions($event)" [ngClass]="{'ng-invalid ng-dirty' : submitted && appointment.timeInformation.serviceId <= 0}">
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && appointment.timeInformation.serviceId <= 0">{{ 'Field is required' | translate: {field: 'Service' | translate} }}</small>
        </div>

        <div class="field">
            <label for="room"><span class="required">*</span> {{ 'Room' | translate }}</label>
            <p-dropdown id="room" [options]="rooms" [(ngModel)]="appointment.timeInformation.roomId" [disabled]="selectedPackage && selectedPackage.room_id" optionLabel="name" optionValue="id" (onClick)="loadTime($event)" [ngClass]="{'ng-invalid ng-dirty' : submitted && appointment.timeInformation.roomId <= 0}">
                <ng-template let-item pTemplate="item">
                    <p-avatar [label]="lemonade.getInitial(item.name)" shape="circle" [style]="{'background-color': item.color, 'color': '#fff'}"></p-avatar>
                    {{ item.name | translate }}
                </ng-template>
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && appointment.timeInformation.roomId <= 0">{{ 'Field is required' | translate: {field: 'Room' | translate} }}</small>
        </div>

        <div class="field">
            <label for="duration"><span class="required">*</span> {{ 'Duration' | translate }}</label>
            <p-dropdown id="duration" [options]="sessions" [disabled]="selectedPackage && selectedPackage.no_of_session" [(ngModel)]="appointment.timeInformation.noOfSession" optionValue="code" (onClick)="loadTime($event)">
                <ng-template pTemplate="selectedItem">
                    {{ appointmentService.getSessionName(appointment.timeInformation.noOfSession, sessions) }}
                </ng-template>
                <ng-template let-time pTemplate="item">
                    <div *ngIf="time.hour > 0 && time.minute != 30 && time.minute != 0" [translate]="'hour Minutes'" [translateParams]="{hour: time.hour, s: time.hour > 1 ? 's' : '', minute: time.minute, ms: time.minute > 1 ? 's' : ''}"></div>
                    <div *ngIf="time.hour > 0 && (time.minute == 30 || time.minute == 0)" [translate]="'hour Hours'" [translateParams]="{hour: time.hour, s: time.hour > 1 ? 's' : ''}"></div>
                    <div *ngIf="time.hour == 0" [translate]="'N minutes'" [translateParams]="{minute: time.minute, s: time.minute > 1 ? 's' : ''}"></div>
                </ng-template>
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.timeInformation.noOfSession">{{ 'Field is required' | translate: {field: 'Duration' | translate} }}</small>
        </div>

        <div class="grid">
            <div class="field col-12 md:col-6">
                <label for="date"><span class="required">*</span> {{ 'Date' | translate }}</label>
                <small class="text-xs" *ngIf="selectedPackage && selectedPackage.start_date"> <sup>#</sup>{{ 'Date can be changed' | translate }}</small>
                <p-calendar id="date" [(ngModel)]="appointment.timeInformation.date" [minDate]="minDate" (onSelect)="loadTime($event)" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !appointment.timeInformation.date}"></p-calendar>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.timeInformation.date">{{ 'Field is required' | translate: {field: 'Date' | translate} }}</small>
            </div>

            <div class="field col-12 md:col-6">
                <label for="time"><span class="required">*</span> {{ 'Time' | translate }}</label>
                <p-dropdown id="time" [disabled]="times.length == 0 || (selectedPackage && selectedPackage.start_time)" [options]="times" (onClick)="setPriceByTime($event)" required [(ngModel)]="appointment.timeInformation.time" optionValue="time" [ngClass]="{'ng-invalid ng-dirty' : submitted && !appointment.timeInformation.time}">
                    <ng-template pTemplate="selectedItem">
                        {{ appointment.timeInformation.time ? this.appointmentService.formatTime(appointment.timeInformation.time) : '' }}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center justify-content-between">
                            <div>{{ this.appointmentService.formatTime(item.time) }}</div>
                            <div *ngIf="!selectedPackage && !appointment.timeInformation.useTrainerData">{{ item.price | currency:'HK$' }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.timeInformation.time">{{ 'Field is required' | translate: {field: 'Time' | translate} }}</small>
            </div>
        </div>

        <div class="grid" *ngIf="supportFinance">
            <div class="field col-12 md:col-6" *ngIf="!selectedPackage">
                <label>{{ 'Unit Price' | translate }}</label>
                <p><b>{{ appointment.paymentInformation.price | currency:'HK$' }} <span *ngIf="appointment.timeInformation.dftNoOfSession">/ {{ appointmentService.getSessionName(appointment.timeInformation.dftNoOfSession, sessions) }}</span></b></p>
            </div>

            <div class="field col-12 md:col-6" *ngIf="appointment.paymentInformation.commission > 0">
                <label for="time">{{ 'Trainer Charge' | translate }}</label>
                <p><b>{{ appointment.paymentInformation.commission | currency:'HK$' }}</b></p>
            </div>
        </div>

        <div class="field">
            <p-checkbox name="notify_parties" [binary]="true" label="{{ 'Notify Customer' | translate }}" [(ngModel)]="appointment.timeInformation.notify_parties"></p-checkbox>
        </div>

        <div class="field">
            <label for="status">{{ 'approval' | translate }}?</label>
            <p-dropdown id="status" [options]="statuses" optionValue="code" [(ngModel)]="appointment.timeInformation.status" placeholder="{{'Select field' | translate: {field: 'Status' | translate} }}">
                <ng-template pTemplate="selectedItem">
                    {{ lemonade.comboRenderer(statuses, appointment.timeInformation.status) | translate }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{ item.name | translate }}
                </ng-template>
            </p-dropdown>
        </div>

        <div class="field">
            <label for="remark">{{ 'Remark' | translate }}</label>
            <textarea id="remark" pInputTextarea [rows]="5" [(ngModel)]="appointment.timeInformation.internal_remark"></textarea>
        </div>

        <div *ngIf="supportPackages">
            <p-divider align="center">
                <span class="p-tag">{{ 'Packages Information' | translate }}</span>
            </p-divider>

            <div class="field">
                <label>{{ 'Packages' | translate }}?</label>
                <p-toggleButton [disabled]="selectedPackage" onLabel="{{ 'Yes' | translate }}" offLabel="{{ 'No' | translate }}"
                                onIcon="pi pi-check" offIcon="pi pi-times" [(ngModel)]="appointment.isPackage"></p-toggleButton>
            </div>

            <div *ngIf="appointment.isPackage">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="end_date">{{ 'Expiry Date' | translate }}</label>
                        <p-calendar id="end_date" [(ngModel)]="appointment.packageInfo.end_date" [minDate]="minExpiryDate" [dateFormat]="lemonade.dateFormat"></p-calendar>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="time">{{ 'End Time' | translate }}</label>
                        <input type="text" pInputText [disabled]="true" value="{{ selectedPackage && selectedPackage.start_time && appointment.timeInformation.sessionInterval ? lemonade.formatTime(selectedPackage.start_time + (selectedPackage.no_of_session * appointment.timeInformation.sessionInterval)) : '' }}"/>
                    </div>
                </div>

                <div class="field">
                    <label for="dow"><span class="required">*</span> {{ 'Day of Week' | translate }}</label>
                    <p-selectButton id="dow" [options]="day_of_weeks" [(ngModel)]="appointment.packageInfo.recurring" [disabled]="selectedPackage" optionLabel="name" optionValue="code" [multiple]="true">
                        <ng-template let-item>
                            <span class="w-full text-center">{{ item.name | translate }}</span>
                        </ng-template>
                    </p-selectButton>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.packageInfo.recurring">{{ 'Field is required' | translate: {field: 'Day of Week' | translate} }}</small>
                </div>

                <div class="field">
                    <label for="lesson_number"><span class="required">*</span> {{ 'No. of Appointments' | translate }}</label>
                    <div class="p-inputgroup">
                        <p-inputNumber id="lesson_number" [(ngModel)]="appointment.packageInfo.quantity" [disabled]="selectedPackage" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="2" [max]="12"></p-inputNumber>
                        <div class="p-1"></div>
                        <button pButton pRipple [disabled]="selectedPackage && selectedPackage.start_date && selectedPackage.start_date == lemonade.formatPostDate(appointment.timeInformation.date)" (click)="loadLessonDates()">{{ 'Get Appointments Date' | translate }}</button>
                    </div>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.packageInfo.quantity">{{ 'Field is required' | translate: {field: 'No. of Appointments' | translate} }}</small>
                </div>

                <div class="field">
                    <p-table [value]="lessons">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width:20px"></th>
                                <th style="min-width:200px">{{ 'Lesson Date & Time' | translate }}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-lesson>
                            <tr>
                                <td colspan="8">
                                    <span class=" ml-2" [innerHTML]="'Field is required' | translate: {field: 'Lesson Date & Time' | translate}"></span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-lesson let-rowIndex="rowIndex" let-expanded="expanded">
                            <tr>
                                <td style="min-width:20px">{{ 1+rowIndex }}.</td>
                                <td style="min-width:200px">
                                    <span class="p-column-title">{{ 'Date & Time' | translate }}</span>
                                    <div>
                                        <span class="booking-badge bg-purple-50 text-purple-400">{{ appointmentService.getBookedDateTime(lesson.date, appointment.timeInformation.time, appointment.timeInformation.sessionInterval, appointment.timeInformation.noOfSession) }}</span>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="mt-2 text-xs" *ngIf="holidays">{{ 'Skipped holidays' | translate:{ days: holidays.length } }}: <span class="booking-badge bg-pink-50 text-pink-400 mr-2" *ngFor="let holiday of holidays">{{ lemonade.formatDate(holiday.date, true) }}</span></div>
                </div>

                <div class="field">
                    <p-checkbox name="package_repeatable" [binary]="true" label="{{ 'Recurring Billing' | translate }}" [(ngModel)]="appointment.packageInfo.repeatable"></p-checkbox>
                </div>

                <div class="field">
                    <label>{{ 'Package Amount' | translate }}</label>
                    <p-inputNumber [(ngModel)]="appointment.packageInfo.price" [disabled]="selectedPackage" mode="currency" currency="HKD" locale="zh-HK" [ngClass]="{'ng-invalid ng-dirty' : submitted && !appointment.packageInfo.price}"></p-inputNumber>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.packageInfo.price">{{ 'Field is required' | translate: {field: 'Package Amount' | translate} }}</small>
                </div>
            </div>
        </div>

        <div *ngIf="supportFinance">
            <p-divider align="center">
                <span class="p-tag">{{ 'Payment Information' | translate }}</span>
            </p-divider>

            <div class="field">
                <label for="order_total"><span class="required">*</span> {{ 'Total Amount' | translate }}</label>
                <p-inputNumber id="order_total" [(ngModel)]="appointment.paymentInformation.order_total" mode="currency" currency="HKD" locale="zh-HK" [ngClass]="{'ng-invalid ng-dirty' : submitted && !appointment.paymentInformation.order_total}"></p-inputNumber>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.paymentInformation.order_total">{{ 'Field is required' | translate: {field: 'Total Amount' | translate} }}</small>
            </div>

            <div class="field" *ngIf="showTrainer && appointment.timeInformation.trainerId > 0">
                <label>{{ 'Total Trainer Commission' | translate }}</label>
                <p-inputNumber [(ngModel)]="appointment.paymentInformation.total_commission" mode="currency" currency="HKD" locale="zh-HK"></p-inputNumber>
            </div>

            <div class="field">
                <label for="paymentStatus">{{ 'Payment Status' | translate }}</label>
                <p-dropdown id="paymentStatus" [options]="payment_statuses" [(ngModel)]="appointment.paymentInformation.status" optionValue="code">
                    <ng-template pTemplate="selectedItem">
                        {{ lemonade.comboRenderer(payment_statuses, appointment.paymentInformation.status) | translate }}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{ item.name | translate }}
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="field">
                <label for="paymentGw">{{ 'Payment Method' | translate }}</label>
                <p-dropdown id="paymentGw" [disabled]="appointment.paymentInformation.status == payment_statuses[0].code" [options]="payment_methods" [(ngModel)]="paymentGateway" placeholder="{{ 'Search F' | translate:{field: 'Payment Method' | translate } }}" [showClear]="true" optionValue="code" [ngClass]="{'ng-invalid ng-dirty' : submitted && appointment.paymentInformation.status == payment_statuses[1].code && !paymentGateway}">
                    <ng-template pTemplate="selectedItem">
                        {{ lemonade.comboRenderer(payment_methods, paymentGateway) }}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        {{ item.name | translate }}
                    </ng-template>
                </p-dropdown>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && appointment.paymentInformation.status == payment_statuses[1].code && !paymentGateway">{{ 'Field is required' | translate: {field: 'Payment Method' | translate} }}</small>
            </div>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'Cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ 'Save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>

<app-submit-modal [visible]="submitting"></app-submit-modal>
