<h4>{{ 'Finance' | translate }}</h4>
<div class="card">
    <!-- Search fields -->
    <div class="p-fluid grid">
        <div class="field col-12 md:col-4">
            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" placeholder="{{ 'Search F' | translate:{field: 'Payment Date' | translate } }}" [readonlyInput]="true" inputId="range" (onSelect)="loadData($event)" [dateFormat]="lemonade.dateFormat"></p-calendar>
        </div>
        <div *ngIf="showCustomer" class="field col-12 md:col-4">
            <p-autoComplete [(ngModel)]="searchCustomer" [forceSelection]="true" [suggestions]="customers" (completeMethod)="searchCustomers($event)" (onSelect)="loadData($event)" field="name" placeholder="{{ 'Search F' | translate:{field: 'Customer' | translate} }}"></p-autoComplete>
        </div>
        <div class="field col-12 md:col-4">
            <p-dropdown [options]="paymentStatusList" [(ngModel)]="searchPaymentStatus" optionLabel="name" optionValue="code" [showClear]="true" (onChange)="loadData($event)" placeholder="{{ 'Search F' | translate:{field: 'Payment Status' | translate } }}">
                <ng-template let-pay pTemplate="item">
                    <div class="payment-item">
                        <div [style]="{color: pay.color, 'font-weight': 'bold'}">{{pay.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>

    <p-table [value]="bookings" [lazy]="true" (onLazyLoad)="loadData($event)" [paginator]="true" [rows]="rows" [loading]="loading" [totalRecords]="totalRecords" dataKey="id" sortField="order_date" sortMode="single" responsiveLayout="stack">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:100px">{{ 'Order Date' | translate }}</th>
                <th style="min-width:100px">{{ 'Order No.' | translate }}</th>
                <th *ngIf="showCustomer" style="min-width:120px">{{ 'Customer' | translate }}</th>
                <th style="min-width:80px">{{ 'Table' | translate }}</th>
<!--                <th style="min-width:120px">{{ 'Service' | translate }}</th>-->
                <th style="min-width:100px">{{ 'Payment Status' | translate }}</th>
                <th style="min-width:20px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-booking>
            <tr>
                <td colspan="8">
                    <span class="font-bold ml-2" [innerHTML]="'No record found.' | translate"></span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment let-rowIndex="rowIndex" let-expanded="expanded">
            <tr >
                <td style="min-width:100px">
                    <span class="p-column-title">{{ 'Order Date' | translate }}</span>
                    {{ lemonade.formatDate(payment.order_date, true) }}
                </td>
                <td style="min-width:100px">
                    <span class="p-column-title">{{ 'Order No.' | translate }}</span>
                    {{ payment.order_number }}
                </td>
                <td *ngIf="showCustomer" style="min-width:120px">
                    <span class="p-column-title">{{ 'Customer' | translate }}</span>
                    <div>
                        <p-avatar [label]="lemonade.getInitial(payment.customer.name)" shape="circle" class="lemonade-avatar" [style]="{background: payment.customer.role.color_name}"></p-avatar>
                        {{ payment.customer.name }}<br />
                        <span class="text-sm text-gray-500">{{ payment.customer.email }}</span>
                    </div>
                </td>
                <td style="min-width:80px">
                    <span class="p-column-title">{{ 'Table' | translate }}</span>
                    <div>
                        <div *ngFor="let detail of payment.details; let i = index">
<!--                            <p-avatar [label]="lemonade.getInitial(detail.name)" shape="circle" [style]="{'background-color': detail.color, 'color': '#fff'}"></p-avatar>-->
                            <span class="pl-2 booking-badge bg-purple-50 text-purple-400" *ngIf="i == 0">
                                {{ displayOrderDetail(detail) }}
                            </span>
                            <span class="text-xs" *ngIf="i == 0"><br/>{{ 'No. of Appointments' | translate }}: {{ payment.details.length }}</span>
                        </div>
                    </div>
                </td>
<!--                <td style="min-width:120px">-->
<!--                    <span class="p-column-title">{{ 'Service' | translate }}</span>-->
<!--                    {{ payment.service_name }}-->
<!--                </td>-->
                <td style="min-width:100px" class="white-space-nowrap">
                    <span class="p-column-title">{{ 'Payment Status' | translate }}</span>
                    <span [class]="'payment-badge status-' + payment.payment_status">
                        <i *ngIf="payment.payment_status == 'pending'" class="pi pi-thumbs-down text-red-500"></i>
                        <i *ngIf="payment.payment_status == 'paid'" class="pi pi-thumbs-up text-green-700"></i>
                        <i *ngIf="payment.payment_status == 'partially'" class="pi pi-thumbs-down text-brown-500"></i>
                        {{ payment.payment_status + ' payment' | translate }}
                    </span>
                </td>
                <td style="min-width:20px">
                    <span class="p-column-title">{{ 'Actions' | translate }}</span>
                    <div>
                        <button pButton type="button" pTooltip="{{ 'Payment Info' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-pencil" (click)="edit(payment)"></button>
                        <button *ngIf="appointmentService.paymentSelection" pButton type="button" pTooltip="{{ 'Invoice' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-print" (click)="printInvoice(payment, 'invoice')"></button>
                        <button *ngIf="appointmentService.paymentSelection" pButton type="button" pTooltip="{{ 'Receipt' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-ticket" (click)="printInvoice(payment, 'receipt')"></button>
                        <button *ngIf="showCustomer && payment.payment_status !== 'paid'" [disabled]="payment.reminder" pButton type="button" pTooltip="{{ 'Payment Reminder' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi {{ payment.reminder === 9 ? 'pi-spin pi-spinner' : 'pi-envelope' }}" (click)="paymentReminder(payment)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="printDialog" [style]="{width:'90em', height: '100vh'}" position="center" [modal]="true" class="p-fluid">
    <iframe #iframe frameborder="0" width="100%" height="100%"></iframe>
</p-dialog>

<p-dialog [(visible)]="formDialog" [style]="{width:'50em', height: '100vh'}" header="{{ 'Payment Info' | translate }}" position="right" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <p-divider><b>{{ 'Customer' | translate}}</b></p-divider>

        <div class="grid">
        <div class="col font-bold">
            <p-avatar [label]="lemonade.getInitial(order.customer.name)" shape="circle" class="lemonade-avatar" [style]="{background: order.customer.role.color_name}"></p-avatar> {{ order.customer.name }}
        </div>
        <div class="col text-right">
            <h6 class="text-gray-500">{{ order.customer.email }}</h6>
<!--                <img [src]="lemonade.getAvatar(payment.customer)" [alt]="payment.customer.name" width="40" *ngIf="payment.customer.avatar">-->
        </div>
        </div>

        <p-divider><b>{{ 'Order Details' | translate}}</b></p-divider>
        <div class="grid">
            <div class="col-6">{{ 'Order Date' | translate }}</div>
            <div class="col-6 font-bold">{{ order.order_date }}</div>

            <div class="col-6">{{ 'Order No.' | translate }}</div>
            <div class="col-6 font-bold">{{ order.order_number }}</div>

            <div class="col-6">{{ 'Status' | translate }}</div>
            <div class="col-6 font-bold">{{ order.order_status | translate }}</div>
        </div>

        <p-divider><b>{{ 'Date' | translate }} & {{ 'Price' | translate }}</b></p-divider>
        <p-table [value]="order.details">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:200px">{{ 'Lesson Date & Time' | translate }}</th>
                    <th class="text-right" style="min-width:200px">{{ 'Unit Price' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lesson let-rowIndex="rowIndex">
                <tr>
                    <td>
                        <div>{{ rowIndex+1 }}.<span class="booking-badge bg-purple-50 text-purple-400">{{ displayOrderDetail(lesson) }}</span></div>
                    </td>
                    <td class="text-right">
                        <span class="font-bold" *ngIf="lesson.discounted_price > 0">{{ lesson.discounted_price | currency:'HK$' }}</span>
                        <span class="text-xs font-italic" *ngIf="lesson.order_type == 'package'"> {{ 'Packages' | translate }}</span>
                        <span class="text-xs font-italic" *ngIf="lesson.order_type == 'booking'"> {{ 'Appointment' | translate }}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>


        <p-divider><b>{{ 'Payment' | translate}}</b></p-divider>
        <div class="grid text-right bg-gray-200">
            <div class="col-6">{{ 'Price' | translate }}</div>
            <div class="col-6 font-bold">{{ order.order_total | currency:'HK$' }}</div>

            <div class="col-6" *ngIf="order.discount > 0">{{ 'Discount' | translate }}</div>
            <div class="col-6 font-bold" *ngIf="order.discount > 0">{{ order.discount | currency:'HK$' }}</div>

            <div class="col-6">{{ 'Paid' | translate }}</div>
            <div class="col-6 font-bold">
                {{ order.paid_amount | currency:'HK$' }}
<!--                <p-table [value]="payment.payments" dataKey="id" sortField="payment_date_time" styleClass="p-datatable-gridlines p-datatable-sm" responsiveLayout="stack">-->
<!--                    <ng-template pTemplate="body" let-paid let-rowIndex="rowIndex">-->
<!--                        <tr class="bg-gray-200" *ngIf="paid.status == 'paid'">-->
<!--                            <td>{{ rowIndex+1 }}.</td>-->
<!--                            <td>{{ lemonade.formatDate(paid.payment_date_time) }}</td>-->
<!--                            <td>{{ paid.gateway }}</td>-->
<!--                            <td class="text-right">{{ paid.amount | currency:'HK$' }}</td>-->
<!--                        </tr>-->
<!--                    </ng-template>-->
<!--                </p-table>-->
            </div>

            <div *ngIf="order.due_amount > 0" class="col-6">{{ 'Due' | translate }}</div>
            <div *ngIf="order.due_amount > 0" class="col-6 font-bold {{ order.due_amount > 0 ? 'text-pink-500' : ''}}">{{ order.due_amount | currency:'HK$' }}</div>

            <div class="col-6">{{ 'Status' | translate }}</div>
            <div class="col-6 font-bold">{{ order.payment_status + ' payment' | translate }}</div>

            <div class="col-6">{{ 'Order Method' | translate }}</div>
            <div class="col-6 font-bold">{{ order.payment.payment_method | translate }}</div>

            <div class="col-6">{{ 'Payment Method' | translate }}</div>
            <div class="col-6 font-bold">{{ lemonade.comboRenderer(payment_methods, order.payment.gateway) | translate }}</div>

            <div class="col-6 text-xl font-semibold">{{ 'Total' | translate }}</div>
            <div class="col-6 text-xl font-semibold">{{ order.total_amount | currency:'HK$' }}</div>
        </div>
        <div class="grid mt-2">
            <div class="col-4 md:col-8"></div>
            <div class="col-8 md:col-4"><button *ngIf="showCustomer && order.payment_status !== 'paid'" [disabled]="order.reminder" pButton type="button" label="{{ 'Payment Reminder' | translate }}" icon="pi pi-envelope" (click)="paymentReminder(order)"></button></div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div *ngIf="editingPayment" class="mb-3">
            <p-divider><b>{{ 'Enter new payment amount' | translate}}</b></p-divider>
            <div class="grid mt-2 text-left">
                <div class="col-12 md:col-6">
                    <label for="paymentAmount">{{ 'Payment Amount' | translate }}</label>
                    <p-inputNumber id="paymentAmount" [(ngModel)]="new_payment.amount" [max]="order.order_total" mode="currency" currency="HKD" [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
                </div>
<!--                <div class="col-12 md:col-4">-->
<!--                    <label for="paymentStatus">{{ 'Status' | translate }}</label>-->
<!--                    <p-dropdown id="paymentStatus" [options]="payment_statuses" optionValue="code" [(ngModel)]="new_payment.status" placeholder="{{'Select a Status' | translate}}">-->
<!--                        <ng-template pTemplate="selectedItem">-->
<!--                            {{ lemonade.comboRenderer(payment_statuses, new_payment.status) | translate }}-->
<!--                        </ng-template>-->
<!--                        <ng-template let-item pTemplate="item">-->
<!--                            {{ item.name | translate }}-->
<!--                        </ng-template>-->
<!--                    </p-dropdown>-->
<!--                </div>-->
                <div class="col-12 md:col-6">
                        <label for="paymentGw">{{ 'Payment Method' | translate }}</label>
                        <p-dropdown id="paymentGw" [disabled]="new_payment.payment_status == payment_statuses[0].code" [options]="payment_methods" [(ngModel)]="new_payment.gateway" placeholder="{{ 'Search F' | translate:{field: 'Payment Method' | translate } }}" [showClear]="true" optionValue="code">
                            <ng-template pTemplate="selectedItem">
                                {{ lemonade.comboRenderer(payment_methods, new_payment.gateway) }}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{ item.name | translate }}
                            </ng-template>
                        </p-dropdown>
                </div>
            </div>
        </div>
        <div class="grid grid-nogutter justify-content-between ng-star-inserted">
            <p-toggleButton *ngIf="showCustomer" [(ngModel)]="editingPayment" onLabel="{{ 'Edit' | translate }}" onIcon="pi pi-pencil" offLabel="{{ 'Edit' | translate }}" offIcon="pi pi-pencil"></p-toggleButton>
            <div>
                <button pButton pRipple label="{{ 'Cancel' | translate }}" icon="pi pi-times" class="p-button-outlined" (click)="hideDialog()"></button>
                <button pButton pRipple *ngIf="showCustomer" label="{{ 'Save' | translate }}" icon="pi pi-check" class="p-button-outlined" (click)="save()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>
