.payment-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    &.status-pending {
        background: #FFCDD2;
        color: #c63737;
    }
    &.status-partially {
        background: #FEEDAF;
        color: #8a5340;
    }
    &.status-paid {
        background: #C8E6C9;
        color: #256029;
    }
}
//narrow the table cell padding.
:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    padding: 0;
}
