<div class="flex justify-content-between">
    <div class="flex align-items-center justify-content-center p-2 border-round mr-1 text-2xl font-bold">
        {{ 'Finance' | translate }}
    </div>
    <div class="flex align-items-center justify-content-center py-2 border-round">
        <button *ngIf="editable" pButton pRipple label="{{ 'New' | translate }}" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
    </div>
</div>

<div class="card">
    <!-- Search fields -->
    <div class="p-fluid grid">
        <div class="field col-12 md:col-4">
            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" placeholder="{{ 'Search F' | translate:{field: 'Payment Date' | translate } }}" [readonlyInput]="true" inputId="range" (onSelect)="loadData($event)" [dateFormat]="lemonade.dateFormat"></p-calendar>
        </div>
        <div *ngIf="showCustomer" class="field col-12 md:col-4">
            <p-autoComplete [(ngModel)]="searchCustomer" [forceSelection]="true" [suggestions]="customers" (completeMethod)="searchCustomers($event)" (onSelect)="loadData($event)" field="name" placeholder="{{ 'Search F' | translate:{field: 'Customer' | translate} }}"></p-autoComplete>
        </div>
        <div class="field col-12 md:col-4">
            <p-dropdown [options]="paymentStatusList" [(ngModel)]="searchPaymentStatus" optionLabel="name" optionValue="code" [showClear]="true" (onChange)="loadData($event)" placeholder="{{ 'Search F' | translate:{field: 'Payment Status' | translate } }}">
                <ng-template let-pay pTemplate="item">
                    <div class="payment-item">
                        <div [style]="{color: pay.color, 'font-weight': 'bold'}">{{pay.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>

    <p-table [value]="bookings" [lazy]="true" (onLazyLoad)="loadData($event)" [paginator]="true" [rows]="rows" [loading]="loading" [totalRecords]="totalRecords" dataKey="id" sortField="order_date" sortMode="single" responsiveLayout="stack">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th style="min-width:100px">{{ 'Order Date' | translate }}</th>
                <th style="min-width:100px">{{ 'Order No.' | translate }}</th>
                <th *ngIf="showCustomer" style="min-width:120px">{{ 'Customer' | translate }}</th>
                <th style="min-width:80px">{{ 'Table' | translate }}</th>
<!--                <th style="min-width:120px">{{ 'Service' | translate }}</th>-->
                <th style="min-width:100px">{{ 'Payment Status' | translate }}</th>
                <th style="min-width:20px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-booking>
            <tr>
                <td colspan="8">
                    <span class="font-bold ml-2" [innerHTML]="'No record found.' | translate"></span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment let-rowIndex="rowIndex" let-expanded="expanded">
            <tr >
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="payment" (click)="loadBookings(payment)" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td style="min-width:100px">
                    <span class="p-column-title">{{ 'Order Date' | translate }}</span>
                    {{ lemonade.formatDate(payment.order_date, true) }}
                </td>
                <td style="min-width:100px">
                    <span class="p-column-title">{{ 'Order No.' | translate }}</span>
                    {{ payment.order_number }}
                </td>
                <td *ngIf="showCustomer" style="min-width:120px">
                    <span class="p-column-title">{{ 'Customer' | translate }}</span>
                    <div>
                        <p-avatar [label]="lemonade.getInitial(payment.customer.name)" shape="circle" class="lemonade-avatar mr-1" [style]="{background: payment.customer.role.color_name}"></p-avatar>
                        <a [routerLink]="['/partner-list/Student', {id: payment.customer.id}]">{{ payment.customer.name }}</a><br />
                        <span class="text-sm text-gray-500">{{ payment.customer.email }}</span>
                    </div>
                </td>
                <td style="min-width:80px">
                    <span class="p-column-title">{{ 'Table' | translate }}</span>
                    <div>
                        <span class="pl-2 booking-badge bg-purple-50 text-purple-400">
                            {{ displayOrderDetail(payment) }}
                        </span>
                        <span class="text-xs" *ngIf="i == 0"><br/>{{ 'No. of Appointments' | translate }}: {{ displayOrderQty(payment) }}</span>
<!--                            <p-avatar [label]="lemonade.getInitial(detail.name)" shape="circle" [style]="{'background-color': detail.color, 'color': '#fff'}"></p-avatar>-->
                    </div>
                </td>
<!--                <td style="min-width:120px">-->
<!--                    <span class="p-column-title">{{ 'Service' | translate }}</span>-->
<!--                    {{ payment.service_name }}-->
<!--                </td>-->
                <td style="min-width:100px" class="white-space-nowrap">
                    <span class="p-column-title">{{ 'Payment Status' | translate }}</span>
                    <span [class]="'payment-badge status-' + payment.payment_status">
                        <i *ngIf="payment.payment_status == 'pending'" class="pi pi-thumbs-down text-red-500"></i>
                        <i *ngIf="payment.payment_status == 'paid'" class="pi pi-thumbs-up text-green-700"></i>
                        <i *ngIf="payment.payment_status == 'partially'" class="pi pi-thumbs-down text-brown-500"></i>
                        {{ payment.payment_status + ' payment' | translate }}
                    </span>
                    <button *ngIf="supportPaymentGateway && payment.payment_status !== 'paid'" pButton type="button" pTooltip="{{ 'Pay Now' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-credit-card" (click)="payNow(payment)"></button>
                    <div *ngIf="payment.payment.gateway_msg" class="pt-1 text-sm">{{ payment.payment.gateway_msg | translate }}</div>
                </td>
                <td style="min-width:20px">
                    <span class="p-column-title">{{ 'Actions' | translate }}</span>
                    <div>
                        <button *ngIf="showCustomer" pButton type="button" pTooltip="{{ 'Payment Info' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-pencil" (click)="edit(payment)"></button>
                        <button *ngIf="appointmentService.paymentSelection" pButton type="button" pTooltip="{{ 'Invoice' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-print" (click)="printInvoice(payment, 'invoice')"></button>
                        <button *ngIf="appointmentService.paymentSelection" pButton [disabled]="payment.payment_status !== 'paid'" type="button" pTooltip="{{ 'Receipt' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-ticket" (click)="printInvoice(payment, 'receipt')"></button>
                        <button *ngIf="showCustomer && payment.payment_status !== 'paid'" [disabled]="payment.reminder" pButton type="button" pTooltip="{{ 'Payment Reminder' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi {{ payment.reminder === 9 ? 'pi-spin pi-spinner' : 'pi-envelope' }}" (click)="paymentReminder(payment)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-payment>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <p-table [value]="payment.bookings" dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="date">{{ 'Date & Time' | translate }} </th>
                                    <th pSortableColumn="trainer">{{ 'Trainer' | translate }} </th>
                                    <th pSortableColumn="room">{{ 'Table' | translate }} / {{ 'Duration' | translate }}</th>
                                    <th pSortableColumn="status">{{ 'Status' | translate }}</th>
                                    <th pSortableColumn="att_status">{{ 'Attendance Status' | translate }}</th>
                                    <th style="width: 4rem"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-appointment>
                                <tr>
                                    <td style="min-width:180px">
                                        <span class="p-column-title">{{ 'Date & Time' | translate }}</span>
                                        <div>
                                            {{ appointmentService.formatDate(appointment.start_time, true) }}
                                            <div><span class="booking-badge bg-purple-50 text-purple-400">{{ appointmentService.formatDateTime(appointment.start_time) }} - {{ appointmentService.formatDateTime(appointment.end_time) }}</span></div>
                                        </div>
                                    </td>
                                    <td style="min-width:150px">
                                        <span class="p-column-title">{{ 'Trainer' | translate }}</span>
                                        <div>
                                            {{ appointment.user_name }}
                                            <div><span class="booking-badge bg-blue-50 text-blue-400" *ngIf="appointment.package_name">{{ appointment.package_name }}</span></div>
                                        </div>
                                    </td>
                                    <td style="min-width:150px">
                                        <span class="p-column-title">{{ 'Table' | translate }} / {{ 'Duration' | translate }}</span>
                                        <div class="flex">
                                            <p-avatar [label]="lemonade.getInitial(appointment.name)" shape="circle" [style]="{'background-color': appointment.color, 'color': '#fff'}"></p-avatar>
                                            <span class="pl-2"> {{appointment.name}}<br/><span class="booking-badge bg-green-50 text-green-400 pl-2">{{ this.lemonade.duration(appointment.start_time, appointment.end_time) }}</span></span>
                                        </div>
                                    </td>
                                    <td style="min-width:120px">
                                        <span class="p-column-title">{{ 'Status' | translate }}</span>
                                        <span [class]="'booking-badge status-' + appointment.status">{{ appointment.status | translate }}</span>
                                    </td>
                                    <td style="min-width:100px">
                                        <span class="p-column-title">{{ 'Attendance Status' | translate }}</span>
                                        <span *ngIf="appointment.checkin">{{ 'Attended' | translate }}</span>
                                        <span *ngIf="!appointment.checkin">{{ 'Appointed' | translate }}</span>
                                    </td>
                                    <td style="min-width:80px" nowrap="nowrap">
                                        <span *ngIf="appointment.checkin">{{ appointmentService.formatPunchInTime(appointment.start_time, appointment.checkin) }}</span>
                                        <button pButton type="button" *ngIf="canReschedule(appointment)" pTooltip="{{ 'Reschedule' | translate }}" tooltipPosition="bottom" class="p-button-text" label="{{ 'Reschedule' | translate }}" icon="pi pi-replay" (click)="reschedule($event, appointment)"></button>
                                        <!--                                    <button pButton type="button" *ngIf="canTakeLeave(appointment)" pTooltip="{{ 'Take Leave' | translate }}" tooltipPosition="bottom" class="p-button-text" label="{{ 'Take Leave' | translate }}" icon="pi pi-shield" (click)="takeLeave(appointment)"></button>-->
                                        <!--                                    <div *ngIf="appointment.take_leave_at" class="booking-badge bg-pink-50 text-pink-400">{{ 'Taken Leave' | translate }}</div>-->
                                    </td>
                                </tr>
<!--                                <tr *ngIf="showOrderDetail(detail)">-->
<!--                                    <td>{{ displayDetailDescription(detail, false) }}</td>-->
<!--                                    <td>{{ displayDetailTrainer(detail) }}</td>-->
<!--                                    <td><a *ngIf="detail.booking_id > 0" [routerLink]="['/appointment-list', {id: detail.booking_id}]"><i class="pi pi-search"></i></a></td>-->
<!--                                </tr>-->
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">There are no details for this order yet.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="printDialog" [style]="{width:'90em', height: '100vh'}" position="center" [modal]="true" class="p-fluid">
    <iframe #iframe frameborder="0" width="100%" height="100%"></iframe>
</p-dialog>

<p-dialog [(visible)]="formDialog" [style]="{width:'50em', height: '100vh'}" header="{{ 'Payment Info' | translate }}" position="right" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <p-divider><b>{{ 'Customer' | translate}}</b></p-divider>

        <div class="grid">
        <div class="col font-bold">
            <p-avatar [label]="lemonade.getInitial(order.customer.name)" shape="circle" class="lemonade-avatar" [style]="{background: order.customer.role.color_name}"></p-avatar> {{ order.customer.name }}
        </div>
        <div class="col text-right">
            <h6 class="text-gray-500">{{ order.customer.email }}</h6>
<!--                <img [src]="lemonade.getAvatar(payment.customer)" [alt]="payment.customer.name" width="40" *ngIf="payment.customer.avatar">-->
        </div>
        </div>

        <p-divider><b>{{ 'Order Details' | translate}}</b></p-divider>
        <div class="grid">
            <div class="col-6">{{ 'Order Date' | translate }}</div>
            <div class="col-6 font-bold">{{ order.order_date }}</div>

            <div class="col-6">{{ 'Order No.' | translate }}</div>
            <div class="col-6 font-bold">{{ order.order_number }}</div>

            <div class="col-6">{{ 'Status' | translate }}</div>
            <div class="col-6 font-bold">{{ order.order_status | translate }}</div>
        </div>

        <p-divider><b>{{ 'Date' | translate }} & {{ 'Price' | translate }}</b></p-divider>
        <p-table [value]="order.details">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:200px">{{ 'Lesson Date & Time' | translate }}</th>
                    <th class="text-right" style="min-width:200px">{{ 'Unit Price' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lesson let-rowIndex="rowIndex">
                <tr>
                    <td>
                        <div>{{ rowIndex+1 }}.<span class="booking-badge bg-purple-50 text-purple-400">{{ displayDetailDescription(lesson) }}</span></div>
                    </td>
                    <td class="text-right">
                        <span class="font-bold" *ngIf="lesson.discounted_price > 0">{{ lesson.discounted_price | currency:'HK$' }}</span>
                        <span class="text-xs font-italic" *ngIf="lesson.order_type == 'package'"> {{ 'Packages' | translate }}</span>
                        <span class="text-xs font-italic" *ngIf="lesson.order_type == 'booking'"> {{ 'Appointment' | translate }}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>


        <p-divider><b>{{ 'Payment' | translate}}</b></p-divider>
        <div class="grid text-right bg-gray-200">
            <div class="col-6">{{ 'Price' | translate }}</div>
            <div class="col-6 font-bold">{{ order.order_total | currency:'HK$' }}</div>

            <div class="col-6" *ngIf="order.discount > 0">{{ 'Discount' | translate }}</div>
            <div class="col-6 font-bold" *ngIf="order.discount > 0">{{ order.discount | currency:'HK$' }}</div>

            <div class="col-6">{{ 'Paid' | translate }}</div>
            <div class="col-6 font-bold">
                {{ order.paid_amount | currency:'HK$' }}
<!--                <p-table [value]="payment.payments" dataKey="id" sortField="payment_date_time" styleClass="p-datatable-gridlines p-datatable-sm" responsiveLayout="stack">-->
<!--                    <ng-template pTemplate="body" let-paid let-rowIndex="rowIndex">-->
<!--                        <tr class="bg-gray-200" *ngIf="paid.status == 'paid'">-->
<!--                            <td>{{ rowIndex+1 }}.</td>-->
<!--                            <td>{{ lemonade.formatDate(paid.payment_date_time) }}</td>-->
<!--                            <td>{{ paid.gateway }}</td>-->
<!--                            <td class="text-right">{{ paid.amount | currency:'HK$' }}</td>-->
<!--                        </tr>-->
<!--                    </ng-template>-->
<!--                </p-table>-->
            </div>

            <div *ngIf="order.due_amount > 0" class="col-6">{{ 'Due' | translate }}</div>
            <div *ngIf="order.due_amount > 0" class="col-6 font-bold {{ order.due_amount > 0 ? 'text-pink-500' : ''}}">{{ order.due_amount | currency:'HK$' }}</div>

            <div class="col-6">{{ 'Status' | translate }}</div>
            <div class="col-6 font-bold">{{ order.payment_status + ' payment' | translate }}</div>

            <div class="col-6">{{ 'Order Method' | translate }}</div>
            <div class="col-6 font-bold">{{ order.payment.payment_method | translate }}</div>

            <div class="col-6">{{ 'Payment Method' | translate }}</div>
            <div class="col-6 font-bold">{{ lemonade.comboRenderer(payment_methods, order.payment.gateway) | translate }}</div>

            <div class="col-6 text-xl font-semibold">{{ 'Total' | translate }}</div>
            <div class="col-6 text-xl font-semibold">{{ order.total_amount | currency:'HK$' }}</div>
        </div>
        <div class="grid mt-2">
            <div class="col-4 md:col-8"></div>
            <div class="col-8 md:col-4"><button *ngIf="showCustomer && order.payment_status !== 'paid'" [disabled]="order.reminder" pButton type="button" label="{{ 'Payment Reminder' | translate }}" icon="pi pi-envelope" (click)="paymentReminder(order)"></button></div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div *ngIf="editingPayment" class="mb-3">
            <p-divider><b>{{ 'Enter new payment amount' | translate}}</b></p-divider>
            <div class="grid mt-2 text-left">
                <div class="col-12 md:col-6">
                    <label for="paymentAmount">{{ 'Payment Amount' | translate }}</label>
                    <p-inputNumber id="paymentAmount" [(ngModel)]="new_payment.amount" [max]="order.order_total" mode="currency" currency="HKD" [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
                </div>
<!--                <div class="col-12 md:col-4">-->
<!--                    <label for="paymentStatus">{{ 'Status' | translate }}</label>-->
<!--                    <p-dropdown id="paymentStatus" [options]="payment_statuses" optionValue="code" [(ngModel)]="new_payment.status" placeholder="{{'Select a Status' | translate}}">-->
<!--                        <ng-template pTemplate="selectedItem">-->
<!--                            {{ lemonade.comboRenderer(payment_statuses, new_payment.status) | translate }}-->
<!--                        </ng-template>-->
<!--                        <ng-template let-item pTemplate="item">-->
<!--                            {{ item.name | translate }}-->
<!--                        </ng-template>-->
<!--                    </p-dropdown>-->
<!--                </div>-->
                <div class="col-12 md:col-6">
                        <label for="paymentGw">{{ 'Payment Method' | translate }}</label>
                        <p-dropdown id="paymentGw" [disabled]="new_payment.payment_status == payment_statuses[0].code" [options]="payment_methods" [(ngModel)]="new_payment.gateway" placeholder="{{ 'Search F' | translate:{field: 'Payment Method' | translate } }}" [showClear]="true" optionValue="code">
                            <ng-template pTemplate="selectedItem">
                                {{ lemonade.comboRenderer(payment_methods, new_payment.gateway) }}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                {{ item.name | translate }}
                            </ng-template>
                        </p-dropdown>
                </div>
            </div>
        </div>
        <div class="grid grid-nogutter justify-content-between ng-star-inserted">
            <p-toggleButton *ngIf="showCustomer" [(ngModel)]="editingPayment" onLabel="{{ 'Edit' | translate }}" onIcon="pi pi-pencil" offLabel="{{ 'Edit' | translate }}" offIcon="pi pi-pencil"></p-toggleButton>
            <div>
                <button pButton pRipple label="{{ 'Cancel' | translate }}" icon="pi pi-times" class="p-button-outlined" (click)="hideDialog()"></button>
                <button pButton pRipple *ngIf="showCustomer" label="{{ 'Save' | translate }}" icon="pi pi-check" class="p-button-outlined" (click)="save()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-toast></p-toast>

<p-dialog [(visible)]="orderFormDialog" [style]="{width:'50em', height: '100vh'}" header="{{ formHeader | translate:{name: 'Orders' | translate } }}" position="right" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="order_pkg">{{ 'Packages' | translate }}</label>
            <p-dropdown id="order_pkg" [options]="packages" [(ngModel)]="selectedPackage" [showClear]="true" (onClick)="loadPackage()" placeholder="{{'Select field' | translate: {field: 'Packages' | translate} }}">
                <ng-template pTemplate="selectedItem">
                    {{ selectedPackage.name }} <span class="text-xs booking-badge bg-pink-50 text-pink-400">{{ lemonade.getRecurringCycle(selectedPackage.recurring) | translate }}: {{ lemonade.displayRecurring(selectedPackage.recurring) }}</span>
                    <span class="text-xs" *ngIf="selectedPackage.start_date"> {{ lemonade.formatDate(selectedPackage.start_date) }}</span><span class="text-xs" *ngIf="selectedPackage.end_date"> {{ 'to' | translate }} {{ lemonade.formatDate(selectedPackage.end_date) }}</span><span class="text-xs booking-badge bg-purple-50 text-purple-400" *ngIf="selectedPackage.start_time"> {{ lemonade.formatTime(selectedPackage.start_time) }} - {{ lemonade.formatTime(selectedPackage.end_time) }}</span>
                    <span class="text-xs text-blue-500"> {{ selectedPackage.price | currency: 'HK$'}}</span>
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{ item.name | translate }} - <span class="text-xs">{{ item.description }}</span> <span class="text-xs booking-badge bg-pink-50 text-pink-400">{{ lemonade.getRecurringCycle(item.recurring) | translate }}: {{ lemonade.displayRecurring(item.recurring) }}</span>
                    <br />
                    <span class="text-xs" *ngIf="item.start_date"> {{ lemonade.formatDate(item.start_date) }}</span><span class="text-xs" *ngIf="item.end_date"> {{ 'to' | translate }} {{ lemonade.formatDate(item.end_date) }}</span><span class="text-xs booking-badge bg-purple-50 text-purple-400" *ngIf="item.start_time"> {{ lemonade.formatTime(item.start_time) }} - {{ lemonade.formatTime(item.end_time) }}</span>
                    <span class="text-base text-blue-500"> {{ item.price | currency: 'HK$'}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="grid" *ngIf="order.id > 0">
            <div class="field col-12 md:col-6">
                <label>{{ 'Order No.' | translate }}</label>
                <input type="text" pInputText [disabled]="true" [(ngModel)]="order.order_number" />
            </div>

            <div class="field col-12 md:col-6">
                <label>{{ 'Order Date' | translate }}</label>
                <p-calendar [disabled]="true" [(ngModel)]="order.order_date"></p-calendar>
            </div>
        </div>

        <div class="field">
            <label for="order_customer"><span class="required">*</span> {{ 'Customer' | translate }}</label>
            <p-autoComplete id="order_customer" [(ngModel)]="customer" [forceSelection]="true" [suggestions]="customers" (completeMethod)="searchCustomers($event)" field="name" placeholder="{{'Select field' | translate: {field: 'Customer' | translate} }}" [ngClass]="{'ng-invalid ng-dirty' : submitted && !customer}">
                <!--                <ng-template pTemplate="selectedItem">-->
                <!--                    <i class="pi pi-circle-fill" [style]="{color: (order.role_color_name)}"></i>-->
                <!--                    {{ order.user_id }}-->
                <!--                </ng-template>-->
                <ng-template let-item pTemplate="item">
                    <i class="pi pi-circle-fill" [style]="{color: item.role.color_name}"></i>
                    {{ item.name }} / M: {{ item.mobile_no}} / E: {{ item.email}}
                </ng-template>
            </p-autoComplete>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !customer">{{ 'Field is required' | translate: {field: 'Customer' | translate} }}</small>
        </div>

        <div class="field">
            <label for="order_service"><span class="required">*</span> {{ 'Service' | translate }}</label>
            <p-dropdown id="order_service" [options]="services" [(ngModel)]="order.serviceId" [disabled]="selectedPackage && selectedPackage.service_id" optionLabel="name" optionValue="id" (onClick)="loadSessions($event)" [ngClass]="{'ng-invalid ng-dirty' : submitted && order.serviceId <= 0}">
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && order.serviceId <= 0">{{ 'Field is required' | translate: {field: 'Service' | translate} }}</small>
        </div>

        <div class="grid">
            <div class="field col-12 md:col-6">
                <label for="order_start_date"><span class="required">*</span> {{ 'Start Date' | translate }}</label>
                <p-calendar id="order_start_date" [(ngModel)]="order.start_date" [minDate]="minDate" [maxDate]="maxDate"  (onSelect)="calEndDate()" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !order.start_date}"></p-calendar>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !order.start_date">{{ 'Field is required' | translate: {field: 'Date' | translate} }}</small>
            </div>
            <div class="field col-12 md:col-6">
                <label for="order_end_date"> {{ 'End Date' | translate }}</label>
                <p-calendar id="order_end_date" [(ngModel)]="order.end_date" [disabled]="true"></p-calendar>
            </div>

        <!--            <div class="field col-12 md:col-6">-->
        <!--                <label for="time"><span class="required">*</span> {{ 'Time' | translate }}</label>-->
        <!--                <p-dropdown id="order_time" [disabled]="times.length == 0 || (selectedPackage && selectedPackage.start_time)" [options]="times" (onClick)="setPriceByTime($event)" required [(ngModel)]="order.time" optionValue="time" [ngClass]="{'ng-invalid ng-dirty' : submitted && !order.time}">-->
        <!--                    <ng-template pTemplate="selectedItem">-->
        <!--                        {{ order.time ? this.appointmentService.formatTime(order.time) : '' }}-->
        <!--                    </ng-template>-->
        <!--                    <ng-template let-item pTemplate="item">-->
        <!--                        <div class="flex align-items-center justify-content-between">-->
        <!--                            <div>{{ this.appointmentService.formatTime(item.time) }}</div>-->
        <!--                            <div *ngIf="!selectedPackage && !order.useTrainerData">{{ item.price | currency:'HK$' }}</div>-->
        <!--                        </div>-->
        <!--                    </ng-template>-->
        <!--                </p-dropdown>-->
        <!--                <small class="ng-dirty ng-invalid" *ngIf="submitted && !order.time">{{ 'Field is required' | translate: {field: 'Time' | translate} }}</small>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="grid" *ngIf="supportFinance">-->
        <!--            <div class="field col-12 md:col-6" *ngIf="!selectedPackage">-->
        <!--                <label>{{ 'Unit Price' | translate }}</label>-->
        <!--                <p><b>{{ order.paymentInformation.price | currency:'HK$' }} <span *ngIf="order.dftNoOfSession">/ {{ appointmentService.getSessionName(order.dftNoOfSession, sessions) }}</span></b></p>-->
        <!--            </div>-->

        <!--            <div class="field col-12 md:col-6" *ngIf="order.paymentInformation.commission > 0">-->
        <!--                <label for="time">{{ 'Trainer Charge' | translate }}</label>-->
        <!--                <p><b>{{ order.paymentInformation.commission | currency:'HK$' }}</b></p>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="field">-->
        <!--            <label for="order_status">{{ 'approval' | translate }}?</label>-->
        <!--            <p-dropdown id="order_status" [options]="statuses" optionValue="code" [(ngModel)]="order.status" placeholder="{{'Select field' | translate: {field: 'Status' | translate} }}">-->
        <!--                <ng-template pTemplate="selectedItem">-->
        <!--                    {{ lemonade.comboRenderer(statuses, order.status) | translate }}-->
        <!--                </ng-template>-->
        <!--                <ng-template let-item pTemplate="item">-->
        <!--                    {{ item.name | translate }}-->
        <!--                </ng-template>-->
        <!--            </p-dropdown>-->
        </div>

        <div>
            <!--            <p-divider align="center">-->
            <!--                <span class="p-tag">{{ 'Packages Information' | translate }}</span>-->
            <!--            </p-divider>-->

            <!--            <div class="field">-->
            <!--                <label>{{ 'Packages' | translate }}?</label>-->
            <!--                <p-toggleButton [disabled]="selectedPackage" onLabel="{{ 'Yes' | translate }}" offLabel="{{ 'No' | translate }}"-->
            <!--                                onIcon="pi pi-check" offIcon="pi pi-times" [(ngModel)]="order.isPackage"></p-toggleButton>-->
            <!--            </div>-->

            <!--                <div class="grid">-->
            <!--                    <div class="field col-12 md:col-6">-->
            <!--                        <label for="order_end_date">{{ 'Expiry Date' | translate }}</label>-->
            <!--                        <p-calendar id="order_end_date" [(ngModel)]="order.recurring.end_date" [minDate]="minExpiryDate" [dateFormat]="lemonade.dateFormat"></p-calendar>-->
            <!--                    </div>-->

            <!--                    <div class="field col-12 md:col-6">-->
            <!--                        <label for="order_time">{{ 'End Time' | translate }}</label>-->
            <!--                        <input type="text" pInputText [disabled]="true" value="{{ selectedPackage && selectedPackage.start_time && order.sessionInterval ? lemonade.formatTime(selectedPackage.start_time + (selectedPackage.no_of_session * order.sessionInterval)) : '' }}"/>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="field">-->
            <!--                    <label for="order_dow"> {{ 'Day of Week' | translate }}</label>-->
            <!--                    <p-selectButton id="order_dow" [options]="day_of_weeks" [(ngModel)]="order.recurring.recurring" [disabled]="selectedPackage" optionLabel="name" optionValue="code" [multiple]="true">-->
            <!--                        <ng-template let-item>-->
            <!--                            <span class="w-full text-center">{{ item.name | translate }}</span>-->
            <!--                        </ng-template>-->
            <!--                    </p-selectButton>-->
            <!--                </div>-->


            <div class="grid">
                <div class="field col-12 md:col-6">
                    <label for="order_lesson_number"><span class="required">*</span> {{ 'No. of Appointments' | translate }}</label>
                    <p-inputNumber id="order_lesson_number" [(ngModel)]="order.recurring.quantity" [disabled]="selectedPackage" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="30"></p-inputNumber>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !order.recurring.quantity">{{ 'Field is required' | translate: {field: 'No. of Appointments' | translate} }}</small>
                </div>

                <div class="field col-12 md:col-6">
                    <label for="order_duration"><span class="required">*</span> {{ 'Duration' | translate }}</label>
                    <p-dropdown id="order_duration" [options]="sessions" [disabled]="selectedPackage && selectedPackage.no_of_session" [(ngModel)]="order.recurring.no_of_session" optionValue="code">
                        <ng-template pTemplate="selectedItem">
                            {{ appointmentService.getSessionName(order.recurring.no_of_session, sessions) }}
                        </ng-template>
                        <ng-template let-time pTemplate="item">
                            <div *ngIf="time.hour > 0 && time.minute != 30 && time.minute != 0" [translate]="'hour Minutes'" [translateParams]="{hour: time.hour, s: time.hour > 1 ? 's' : '', minute: time.minute, ms: time.minute > 1 ? 's' : ''}"></div>
                            <div *ngIf="time.hour > 0 && (time.minute == 30 || time.minute == 0)" [translate]="'hour Hours'" [translateParams]="{hour: time.hour, s: time.hour > 1 ? 's' : ''}"></div>
                            <div *ngIf="time.hour == 0" [translate]="'N minutes'" [translateParams]="{minute: time.minute, s: time.minute > 1 ? 's' : ''}"></div>
                        </ng-template>
                    </p-dropdown>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !order.recurring.no_of_session">{{ 'Field is required' | translate: {field: 'Duration' | translate} }}</small>
                </div>
            </div>

            <div class="grid" *ngIf="selectedPackage && order.recurring.free">
                <div class="field col-12 md:col-6">
                    <label for="order_free_lesson_number">{{ 'No. of Free Lesson' | translate }}</label>
                    <p-inputNumber id="order_free_lesson_number" [(ngModel)]="order.recurring.free.quantity" [disabled]="selectedPackage" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="10"></p-inputNumber>
                </div>

                <div class="field col-12 md:col-6">
                    <label for="order_free_duration">{{ 'Duration of Free Lesson' | translate }}</label>
                    <p-dropdown id="order_free_duration" [options]="sessions" [disabled]="selectedPackage && order.recurring.free" [(ngModel)]="order.recurring.free.no_of_session" optionValue="code">
                        <ng-template pTemplate="selectedItem">
                            {{ appointmentService.getSessionName(order.recurring.free.no_of_session, sessions) }}
                        </ng-template>
                        <ng-template let-time pTemplate="item">
                            <div *ngIf="time.hour > 0 && time.minute != 30 && time.minute != 0" [translate]="'hour Minutes'" [translateParams]="{hour: time.hour, s: time.hour > 1 ? 's' : '', minute: time.minute, ms: time.minute > 1 ? 's' : ''}"></div>
                            <div *ngIf="time.hour > 0 && (time.minute == 30 || time.minute == 0)" [translate]="'hour Hours'" [translateParams]="{hour: time.hour, s: time.hour > 1 ? 's' : ''}"></div>
                            <div *ngIf="time.hour == 0" [translate]="'N minutes'" [translateParams]="{minute: time.minute, s: time.minute > 1 ? 's' : ''}"></div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>

            <div class="field">
                <label for="order_order_total">{{ 'Total Amount' | translate }}</label>
                <p-inputNumber id="order_order_total" [(ngModel)]="order.order_total" [disabled]="true" mode="currency" currency="HKD" locale="zh-HK" [ngClass]="{'ng-invalid ng-dirty' : submitted && !order.order_total}"></p-inputNumber>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !order.order_total">{{ 'Field is required' | translate: {field: 'Total Amount' | translate} }}</small>
            </div>

            <div class="field">
                <label for="order_remark">{{ 'Remark' | translate }}</label>
                <textarea id="order_remark" pInputTextarea [rows]="5" [(ngModel)]="order.internal_remark"></textarea>
            </div>

            <div class="field">
                <p-checkbox name="package_repeatable" [binary]="true" label="{{ 'Recurring Billing' | translate }}" [(ngModel)]="order.repeatable"></p-checkbox>
            </div>
        </div>

        <p-divider align="center">
            <span class="p-tag">{{ 'Payment Information' | translate }}</span>
        </p-divider>

        <div class="field">
            <label for="order_payment_amount"><span class="required">*</span> {{ 'Payment Amount' | translate }}</label>
            <div class="p-inputgroup">
                <p-inputNumber id="order_payment_amount" [(ngModel)]="order.payment_amount" mode="currency" currency="HKD" locale="zh-HK"></p-inputNumber>
                <div class="p-1"></div>
                <button pButton pRipple (click)="copyOrderAmount()">{{ 'Copy Total Amount' | translate }}</button>
            </div>
        </div>

<!--        <div class="field" *ngIf="order.trainer_id > 0">-->
<!--            <label>{{ 'Total Trainer Commission' | translate }}</label>-->
<!--            <p-inputNumber [(ngModel)]="order.paymentInformation.total_commission" mode="currency" currency="HKD" locale="zh-HK"></p-inputNumber>-->
<!--        </div>-->

        <div class="field">
            <label for="order_paymentStatus">{{ 'Payment Status' | translate }}</label>
            <p-dropdown id="order_paymentStatus" [options]="payment_statuses" [(ngModel)]="order.payment_status" optionValue="code">
                <ng-template pTemplate="selectedItem">
                    {{ lemonade.comboRenderer(payment_statuses, order.payment_status) | translate }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{ item.name | translate }}
                </ng-template>
            </p-dropdown>
        </div>

        <div class="field">
            <label for="order_paymentGw">{{ 'Payment Method' | translate }}</label>
            <p-dropdown id="order_paymentGw" [disabled]="order.payment_status == payment_statuses[0].code" [options]="payment_methods" [(ngModel)]="order.payment_gateway" placeholder="{{ 'Search F' | translate:{field: 'Payment Method' | translate } }}" [showClear]="true" optionValue="code" [ngClass]="{'ng-invalid ng-dirty' : submitted && order.payment_status == payment_statuses[1].code && !order.payment_gateway}">
                <ng-template pTemplate="selectedItem">
                    {{ lemonade.comboRenderer(payment_methods, order.payment_gateway) }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{ item.name | translate }}
                </ng-template>
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && order.payment_status == payment_statuses[1].code && !order.payment_gateway">{{ 'Field is required' | translate: {field: 'Payment Method' | translate} }}</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'Cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ 'Save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="saveOrder()"></button>
    </ng-template>
</p-dialog>
