<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/">
        <img src="assets/layout/images/{{appMain.config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="logo">
        <span>Lemonade</span>
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
         <a href="#/appointment" class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>{{ 'New Booking' | translate }}</span>
        </a>
        <a href="#/notifications" class="p-link layout-topbar-button">
            <i class="pi pi-bell"></i>
            <span>{{ 'Notifications' | translate }}</span>
        </a>
<!--        <a href="#" class="p-link layout-topbar-button">-->
<!--            <i class="pi pi-cog"></i>-->
<!--            <span>Settings</span>-->
<!--        </a>-->
        <a href="#/user-profile" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>{{ authService.userName }}, {{ 'Profile' | translate }}</span>
        </a>
        <a (click)="logout()" class="p-link layout-topbar-button">
            <i class="pi pi-sign-out"></i>
            <span>{{ 'Logout' | translate }}</span>
        </a>
    </div>
</div>
