<h4>{{ 'Trainer Student' | translate }}</h4>
<div class="card">
    <p-table [value]="trainers" dataKey="name" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th style="min-width:120px" pSortableColumn="name">{{ 'Trainer' | translate }} <p-sortIcon field="name"></p-sortIcon></th>
                <th style="min-width:130px" pSortableColumn="role">{{ 'Role' | translate }} <p-sortIcon field="role"></p-sortIcon></th>
                <th style="min-width:80px">{{ 'Avatar' | translate }}</th>
                <th style="min-width:130px" pSortableColumn="counter">{{ 'Student Count' | translate }} <p-sortIcon field="counter"></p-sortIcon></th>
                <th style="min-width:150px" pSortableColumn="email">{{ 'Email' | translate }} <p-sortIcon field="email"></p-sortIcon></th>
                <th style="min-width:90px" pSortableColumn="rating">{{ 'Reviews' | translate }} <p-sortIcon field="rating"></p-sortIcon></th>
                <th style="min-width:80px" pSortableColumn="status">{{ 'Status' | translate }} <p-sortIcon field="status"></p-sortIcon></th>
                <th style="width: 1rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="user" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td>{{user.name}}</td>
                <td>
                    <span [class]="'role-badge role-' + user.role.name">{{ user.role.name + " role" | translate }}</span>
                </td>
                <td>
                    <p-avatar [image]="lemonade.getAvatar(user)" shape="circle" [style]="{'background-color': '#266cda', 'color': '#fff', 'margin-left': '5px'}"></p-avatar>
                </td>
                <td>
                    {{ user.teammates.length }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    <p-rating [ngModel]="user.rating" [readonly]="true" [cancel]="false"></p-rating>
                </td>
                <td>
                    <span [class]="'user-badge status-' + user.status">{{ user.status | translate }}</span>
                </td>
                <td>
                    <button pButton type="button" [disabled]="!canAmend(user)" pTooltip="{{ 'Edit' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-pencil" (click)="edit(user)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-user>
            <tr>
                <td colspan="8">
                    <div class="p-3">
                        <p-table [value]="user.teammates" dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{ 'Student' | translate }}</th>
                                    <th>{{ 'Avatar' | translate }}</th>
                                    <th>{{ 'Email' | translate }}</th>
                                    <th>{{ 'Status' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-teammate>
                                <tr>
                                    <td>{{teammate.name}}</td>
                                    <td>
                                        <p-avatar [image]="lemonade.getAvatar(teammate)" shape="circle"></p-avatar>
                                    </td>
                                    <td>
                                        {{ teammate.email }}
                                    </td>
                                    <td>
                                        <span [class]="'user-badge status-' + teammate.status">{{ teammate.status | translate }}</span>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">There is no student for trainer.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="formDialog" [style]="{width:'50em', height: '100vh'}" header="{{ formHeader | translate }}" position="right" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <img [src]="lemonade.getAvatar(trainer)" [alt]="trainer.name" width="100" class="mt-0 mx-auto mb-2 block" *ngIf="trainer.avatar">
        <div class="text-center mb-5">
            <h3>{{ trainer.name }}</h3>
        </div>

        <div class="field">
            <p-pickList [responsive]="true" [showSourceControls]="false" [showTargetControls]="false" [source]="trainer.teammates" [target]="availableStudents"  sourceHeader="{{ 'My Student' | translate }}" targetHeader="{{ 'Available Student' | translate }}" filterBy="name">
                <ng-template let-student pTemplate="item">
                    <div class="student-item">
                        <div class="image-container">
                            <img [src]="lemonade.getAvatar(student)" [alt]="student.name" class="student-image" />
                        </div>
                        <div class="student-list-detail">
                            <h5 class="mb-2">{{student.name}}</h5>
                            <h6 class="-mt-2">{{student.email}}</h6>
                        </div>
                        <div class="student-list-action">
                            <span [class]="'user-badge status-' + student.status">{{ student.status | translate }}</span>
                        </div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'Cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ 'Save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
