<div class="flex justify-content-between">
    <div class="flex align-items-center justify-content-center p-2 border-round mr-1 text-2xl font-bold">
        {{ this.pageHeader | translate }}
    </div>
<!--    <div class="flex align-items-center justify-content-center py-2 border-round">-->
<!--        <button *ngIf="newable" pButton pRipple label="{{ 'New' | translate }}" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewAptForm()"></button>-->
<!--    </div>-->
</div>
<div class="card">
    <!-- Search fields -->
    <div class="p-fluid grid">
        <div class="field col-12 md:col-3">
            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" (onSelect)="loadData()" inputId="range" [dateFormat]="lemonade.dateFormat"></p-calendar>
        </div>
       <!--  <div class="field col-12 md:col-3">
            <p-autoComplete [(ngModel)]="userObj" [forceSelection]="true" [suggestions]="users" (completeMethod)="searchUsers($event)" (onSelect)="loadData()" field="name" placeholder="{{'Search User' | translate }}">
                <ng-template let-item pTemplate="item">
                    <i class="pi pi-circle-fill" [style]="{color: item.role.color_name}"></i>
                    {{ item.name }}
                </ng-template>
            </p-autoComplete>
        </div> -->
        <div class="field col-12 md:col-3">
            <p-dropdown [(ngModel)]="trainerObj" [options]="trainers" optionValue="id" optionLabel="name" (onChange)="loadData()" placeholder="{{'Search F' | translate:{field: 'Trainer' | translate } }}">
                <ng-template let-item pTemplate="item">
                    <i class="pi pi-circle-fill" [style]="{color: item.role.color_name}"></i>
                    {{ item.name }}
                </ng-template>
            </p-dropdown>
        </div>
        <!-- <div class="field col-12 md:col-3">
            <p-dropdown [options]="statuses" optionValue="code" [(ngModel)]="aptStatus" (onChange)="loadData()" (onClear)="loadData()" [showClear]="true" placeholder="{{ 'Search F' | translate:{field: 'Status' | translate } }}">
                <ng-template pTemplate="selectedItem">
                    {{ lemonade.comboRenderer(statuses, aptStatus) | translate }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{ item.name | translate }}
                </ng-template>
            </p-dropdown>
        </div> -->
    </div>
     <!-- End Search fields -->

    


        <!-- trainer list -->
        <p-table [value]="appointments"  dataKey="appointment_id"  [paginator]="false" [rows]="rows" [loading]="loading" [totalRecords]="totalRecords" sortField="id"  responsiveLayout="stack">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:32%">{{ 'Date & Time' | translate }}</th>
                    <th style="width:18%">{{ 'Package' | translate }} </th>   
                    <th>{{'Table'}}</th>             
                    <th style="width:35%">{{ 'Trainer and Rates' | translate }}</th>
                    <th style="width:15%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-appointment let-ri="rowIndex">
                <tr style="vertical-align: top;">
                    <td>                        
                                {{ lemonade.formatDate(appointment.appointment_starttime, true) }} {{ appointmentService.formatDateTime(appointment.appointment_starttime) }}  to {{appointmentService.formatDateTime(appointment.appointment_endtime)}}                         
                    </td>                    
                    <td>                        
                             <!--    <input pInputText type="text" [(ngModel)]="appointment.description">          -->                   
                                {{appointment.description}}                           
                    </td> 
                    <td>
                        <div class="flex">
                            
                            <span class="pl-2"> {{appointment.appointment_room_id}}</span><!-- <span class="booking-badge bg-green-50 text-green-400 pl-2">{{ duration(appointment) }}</span></span>-->
                        </div>
                    </td>
                    <td></td>
                    <!-- for debugging -->
                    <!-- <td style="max-width:80px">  
                        <span>id= {{appointment.appointment_id}}</span> <br />                    
                                {{lemonade.showTrainerRateList(appointment.trainer_and_rate_list)  }}  {{appointment.trainer_and_rate_list	}}                           
                    </td> -->
                    <!-- end for debugging -->

                    <td>
                        <span class="p-column-title">{{ 'Actions' | translate }}</span>
                        <div>
                            <button pButton type="button" [disabled]="!canAmend(user)" pTooltip="{{ 'Edit' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-pencil" (click)="edit(appointment)"></button>
                           
                <!--                    <button pButton type="button" *ngIf="!isPaid(appointment)" pTooltip="{{ 'Pay Now' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-credit-card" (click)="makePayment(appointment)"></button>-->
                        </div>
                    </td>
                   
                </tr>
            </ng-template>
        </p-table>
        <!-- end trainer list-->
        <!-- <p-table [value]="appointments" [loading]="loading" dataKey="id" sortField="appointment_date" sortMode="single" [scrollable]="true" rowGroupMode="subheader" groupRowsBy="appointment_date" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:200px">{{ 'Date & Time' | translate }}</th>
                <th style="min-width:100px">{{ 'Package' | translate }} </th>                
                <th style="min-width:120px">{{ 'Trainer and Rates' | translate }}</th>
                <th style="min-width:20px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-appointment>
            <tr>
                <td colspan="8">
                    <span class="font-bold ml-2" [innerHTML]="'No booking found.' | translate"></span>
                </td>
            </tr>
        </ng-template> -->
         <!--<ng-template pTemplate="body" let-appointment let-rowIndex="rowIndex" let-expanded="expanded" let-editing="editing" >
            <tr  [pEditableRow]="appointment">
                <td style="min-width:150px">
                    <span class="p-column-title">{{ 'Date & Time' | translate }}</span>
                    <span class="booking-badge bg-purple-50 text-purple-400">{{ lemonade.formatDate(appointment.appointment_starttime, true) }} {{ appointmentService.formatDateTime(appointment.appointment_starttime) }} - {{ appointmentService.formatDateTime(appointment.appointment_endtime) }} </span>
                </td>
               <td style="min-width:100px">
                    <span class="p-column-title">{{ 'Package' | translate }}</span>
                    <div class="flex">                       
                        <span class="pl-2"> {{appointment.description}} </span>
                    </div>
                </td> 
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input 
                                pInputText 
                                type="text" 
                                [(ngModel)]="appointment.id" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{appointment.id}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td *ngIf="showTrainer" style="min-width:150px">
                    <span class="p-column-title">{{ 'Trainer' | translate }}</span>
                    <div>
                        {{ appointment.user_name }}
                        <div class="booking-badge bg-blue-50 text-blue-400" *ngIf="appointment.package_name">{{ appointment.package_name }}</div>
                    </div>
                </td> 
                <td style="min-width:200px">
                    <span class="p-column-title">{{ 'Package id' | translate }}</span>
                    <div class="flex">                       
                        
                       <span>
                            <p-table [value]="lemonade.showTrainerRateList(appointment.trainer_and_rate_list)" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}" >
                                <ng-template pTemplate="header">
                                    <tr>                                        
                                        <th style="width:5%">Name</th>
                                        <th style="width:5%">Rate</th>
                                        <th style="width:5%"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-trainer_and_rate_list let-editing="editing" let-ri="rowIndex">
                                    <tr [pEditableRow]="trainer_and_rate_list">
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input 
                                                        pInputText 
                                                        type="text" 
                                                        [(ngModel)]="trainer_and_rate_list.name" />
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{trainer_and_rate_list.name}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input 
                                                        pInputText type="text" 
                                                        [(ngModel)]="trainer_and_rate_list.rate" 
                                                        required />
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{trainer_and_rate_list.rate}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                       
                                        
                                        <td>
                                            <div class="flex align-items-center justify-content-center gap-2">
                                                <button 
                                                    *ngIf="!editing" 
                                                    pButton 
                                                    pRipple 
                                                    type="button" 
                                                    pInitEditableRow 
                                                    icon="pi pi-pencil" 
                                                    (click)="onRowEditInit(trainer_and_rate_list)" 
                                                    class="p-button-rounded p-button-text">
                                                </button>
                                                <button 
                                                    *ngIf="editing" 
                                                    pButton 
                                                    pRipple 
                                                    type="button" 
                                                     
                                                    icon="pi pi-check" 
                                                    (click)="onRowEditSave(trainer_and_rate_list)" 
                                                    class="p-button-rounded p-button-text p-button-success mr-2">
                                                </button>
                                                <button 
                                                    *ngIf="editing" 
                                                    pButton pRipple 
                                                    type="button" 
                                                    pCancelEditableRow 
                                                    icon="pi pi-times" 
                                                    (click)="onRowEditCancel(trainer_and_rate_list, ri)" 
                                                    class="p-button-rounded p-button-text p-button-danger">
                                                </button>
                                            </div> 
                                          
                                            <button pButton type="button" pTooltip="{{ 'Delete' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-trash" [ngStyle]="{'color':'red'}" (click)="doDelTrainerRate(trainerrate)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>


                        </span> 

                        <span class="pl-2">{{lemonade.showTrainerRateList(appointment.trainer_and_rate_list)  }}  {{appointment.trainer_and_rate_list	}}</span>
                    </div>
                </td>
                <td style="min-width:200px">
                    <span class="p-column-title">{{ 'Package id' | translate }}</span>
                    <div class="flex">                       
                        <span class="pl-2"> {{appointment.package_id}} | {{appointment.recurring}}</span>
                    </div>
                </td>-->
                <!-- <td style="min-width:200px">
                    <span class="p-column-title">{{ 'Table' | translate }} / {{ 'Duration' | translate }}</span>
                    <div class="flex">
                        <p-avatar [label]="lemonade.getInitial(appointment.name)" shape="circle" [style]="{'background-color': appointment.color, 'color': '#fff'}"></p-avatar>
                        <span class="pl-2"> {{appointment.name}}<br/><span class="booking-badge bg-green-50 text-green-400 pl-2">{{ duration(appointment) }}</span></span>
                    </div>
                </td> -->
                
                <!--<td style="min-width:120px">
                    <span class="p-column-title">{{ 'Status' | translate }}</span>
                    <span [class]="'booking-badge status-' + appointment.status">{{ appointment.status | translate }}</span>
                     <button pButton type="button" *ngIf="!showCustomer" [disabled]="isPaid(appointment) || !canAmend(appointment)" pTooltip="{{ 'Cancel Booking' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-times" (click)="cancel(appointment)"></button>
                    <button pButton type="button" *ngIf="showCustomer" [disabled]="!isAbleApprove(appointment)" pTooltip="{{ 'Reject' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-times" (click)="reject(appointment)"></button>
                    <button pButton type="button" *ngIf="showCustomer" [disabled]="!isAbleApprove(appointment)" pTooltip="{{ 'Approve' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-check" (click)="approve(appointment)"></button>
                     <p-progressSpinner *ngIf="appointment.loading === true" class="row-spinner ml-2"></p-progressSpinner>
                </td>  -->              
             <!--    <td style="min-width:20px">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(appointment)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(appointment)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(appointment, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                     <button pButton type="button" *ngIf="canReschedule(appointment)" pTooltip="{{ 'Reschedule' | translate }}" tooltipPosition="bottom" class="p-button-text" label="{{ 'Reschedule' | translate }}" icon="pi pi-replay" (click)="reschedule($event, appointment)"></button>
                    <button pButton type="button" *ngIf="canTakeLeave(appointment)" pTooltip="{{ 'Take Leave' | translate }}" tooltipPosition="bottom" class="p-button-text" label="{{ 'Take Leave' | translate }}" icon="pi pi-shield" (click)="takeLeave(appointment)"></button>
                    <div *ngIf="appointment.take_leave_at" class="booking-badge bg-pink-50 text-pink-400">{{ 'Taken Leave' | translate }}</div>
                    <button *ngIf="supportFinance && supportPaymentGateway && !isTokenOrder(appointment)" pButton type="button" [disabled]="isPaid(appointment) || !isValidStatus(appointment)" pTooltip="{{ 'Pay Now' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-credit-card" (click)="payNow(appointment)"></button>
                </td>
            </tr>
        </ng-template> -->
<!--        <ng-template pTemplate="rowexpansion" let-appointment>-->
<!--            <tr>-->
<!--                <td colspan="8">hihi</td>-->
<!--            </tr>-->
<!--        </ng-template>-->

    <!-- </p-table> -->


    <!-- dialog -->
    <p-dialog [(visible)]="trainerrateFormDialog" [style]="{width:'50em', height: '100vh'}" header="{{ formHeader | translate:{name: 'Appointment' | translate } }}" position="right" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">  
                           
                   <div>{{ 'Package' | translate }}: {{this.dialog_package_description}}</div>                           
                   <div>{{ 'Date & Time' | translate }}: {{ lemonade.formatDate(this.dialog_appointment_starttime, true) }} {{ appointmentService.formatDateTime(this.dialog_start_time) }}  to {{appointmentService.formatDateTime(this.dialog_end_time)}} </div>
                    {{ 'Trainer and Rates' | translate }}
                    <p-table [value]="trainer_and_rate_lists"  dataKey="id" editMode="row"  [paginator]="false" [rows]="rows" [loading]="loading" sortField="id"  responsiveLayout="stack">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:25%">Name</th>
                                <th style="width:25%">Rate</th>
                                <th style="width:20%"></th>
                            </tr>
                        </ng-template> 
                        <ng-template pTemplate="body" let-trainer_and_rate_list let-editing="editing" let-ri="rowIndex1">
                            <tr [pEditableRow]="trainer_and_rate_list">
                                <td style="min-width:120px">                                        
                                    {{ trainer_and_rate_list.name }}                                     
                                </td>                    
                                <td style="min-width:80px">    
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="trainer_and_rate_list.rate">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{trainer_and_rate_list.rate}}
                                        </ng-template>
                                    </p-cellEditor>
                                                                
                                </td>
                                    <td style="min-width:100px">
            
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(trainer_and_rate_list)" class="p-button-rounded p-button-text"></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(this.dialog_appointment_id, trainer_and_rate_lists)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(trainer_and_rate_list, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                                        <button pButton type="button" pTooltip="{{ 'Delete' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-trash" [ngStyle]="{'color':'red'}" (click)="doDelTrainerRate(this.dialog_appointment_id, trainer_and_rate_list, trainer_and_rate_lists)"></button>
                                    </div>
                                </td> 
                            </tr>
                        </ng-template>
                    </p-table>

                   
                    
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between ng-star-inserted">
                <div>
                    <button *ngIf="appointment_id > 0 && this.editable" pButton pRipple label="{{ 'Delete' | translate }}" icon="pi pi-trash" class="p-button-text" (click)="delete()"></button>
                </div>
                <div>
                    <button pButton pRipple label="{{ 'Cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button *ngIf="this.editable" pButton pRipple label="{{ 'Save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
                </div>
            </div>
        </ng-template>
    </p-dialog>

    <!--end dialog -->

 

    <p-confirmDialog header="{{ 'Confirmation' | translate }}" icon="pi pi-clock"></p-confirmDialog>
    <p-toast></p-toast>
</div>
