<div class="flex justify-content-between">
    <div class="flex align-items-center justify-content-center p-2 border-round mr-1 text-2xl font-bold">
        {{ paramRole | translate }}
    </div>
    <div class="flex align-items-center justify-content-center py-2 border-round">
        <button *ngIf="newable" pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
    </div>
</div>
<div class="card">
    <!-- Search fields -->
    <div class="p-fluid grid">
        <div class="field col-12 md:col-4">
            <input type="text" pInputText [(ngModel)]="userName" (change)="loadData()" placeholder="{{ 'Search Name' | translate }}">
        </div>
        <div class="field col-12 md:col-4">
            <input type="text" pInputText [(ngModel)]="userEmail" (change)="loadData()" placeholder="{{ 'Search Email' | translate }}">
        </div>
        <div class="field col-12 md:col-4">
            <p-dropdown [options]="statuses" optionValue="code" [(ngModel)]="userStatus" (onChange)="loadData()" (onClear)="loadData()" [showClear]="true" placeholder="{{ 'Search Status' | translate }}">
                <ng-template pTemplate="selectedItem">
                    {{ lemonade.comboRenderer(statuses, userStatus) | translate }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{ item.name | translate }}
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="p-fluid grid">
        <div class="col-12 md:col-2">
            <button pButton pRipple type="button" [label]="'All role' | translate" icon="pi pi-circle-fill" (click)="loadRole(0)" [style]="{color: selectedRoleId == 0 ? 'white' : 'grey', background: selectedRoleId == 0 ? 'grey' : 'white'}" [class]="selectedRoleId == 0 ? 'p-button-fill' : 'p-button-outlined'"></button>
        </div>
        <div class="col-12 md:col-2" *ngFor="let role of roles">
            <button pButton pRipple type="button" [label]="role.name + ' role' | translate" icon="pi pi-circle-fill" (click)="loadRole(role.id)" [style]="{color: selectedRoleId == role.id ? 'white' : role.color_name, background: selectedRoleId == role.id ? role.color_name : 'white'}" [class]="selectedRoleId == role.id ? 'p-button-fill' : 'p-button-outlined'"></button>
        </div>
    </div>

    <p-table [value]="users" [loading]="loading" dataKey="id" sortField="appointment_date" sortMode="single"  responsiveLayout="stack">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:120px">{{ 'Name' | translate }}</th>
                <th style="min-width:120px">{{ 'Role' | translate }}</th>
                <th style="min-width:80px">{{ 'Avatar' | translate }}</th>
                <th style="min-width:150px">{{ 'Email' | translate }}</th>
                <th style="min-width:120px">{{ 'Status' | translate }}</th>
                <th style="min-width:20px"></th>
            </tr>
        </ng-template>
        <!--        <ng-template pTemplate="groupfooter" let-appointment>-->
        <!--            <tr class="p-rowgroup-footer">-->
        <!--                <td style="min-width: 80%">-->
        <!--                    <div style="text-align: right; width: 100%">Total Customers</div>-->
        <!--                </td>-->
        <!--                <td style="width: 20%">{{calculateCustomerTotal(customer.representative.name)}}</td>-->
        <!--            </tr>-->
        <!--        </ng-template>-->
        <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
            <tr>
                <td style="min-width:200px">
                    <span class="p-column-title">{{ 'Name' | translate }}</span>
                    {{ user.name }}
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Role' | translate }}</span>
                    <span [class]="'role-badge role-' + user.role.name" [style]="{background: findRoleColor(user.role.id)}">{{ user.role.name + " role" | translate }}</span>

                </td>
                <td style="min-width:80px">
                    <span class="p-column-title">{{ 'Avatar' | translate }}</span>
                    <p-avatar [image]="lemonade.getAvatar(user)" shape="circle" [style]="{'background-color': '#266cda', 'color': '#fff', 'margin-left': '5px'}"></p-avatar>
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Email' | translate }}</span>
                    {{ user.email }}
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Status' | translate }}</span>
                    <span [class]="'user-badge status-' + user.status">{{ user.status | translate }}</span>
                </td>
                <td style="min-width:20px">
                    <span class="p-column-title">{{ 'Actions' | translate }}</span>
                    <div>
                        <button pButton type="button" [disabled]="!canAmend(user)" pTooltip="{{ 'Edit' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-pencil" (click)="edit(user)"></button>
                        <button pButton type="button" *ngIf="canBlock(user) && user.status == 'active'" pTooltip="{{ 'Blacklist' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text p-button-danger" icon="pi pi-ban" (click)="blacklist(user, true)"></button>
                        <button pButton type="button" *ngIf="canBlock(user) && user.status == 'banned'" pTooltip="{{ 'Whitelist' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-check-circle" (click)="blacklist(user, false)"></button>
<!--                    <button pButton type="button" *ngIf="!isPaid(appointment)" pTooltip="{{ 'Pay Now' | translate }}" tooltipPosition="bottom" class="p-button-text" icon="pi pi-credit-card" (click)="makePayment(appointment)"></button>-->
                    </div>
                </td>
            </tr>
        </ng-template>
        <!--        <ng-template pTemplate="rowexpansion" let-appointment>-->
        <!--            <tr>-->
        <!--                <td colspan="8">hihi</td>-->
        <!--            </tr>-->
        <!--        </ng-template>-->

    </p-table>
</div>

<p-dialog [(visible)]="formDialog" [style]="{width:'50em', height: '100vh'}" header="{{ formHeader | translate:{name: 'User' | translate} }}" position="right" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">{{ 'Name' | translate }}</label>
            <input type="text" pInputText id="name" [(ngModel)]="partner.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !partner.name}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !partner.name">{{ 'Field is required' | translate: {field: 'Name' | translate} }}</small>
        </div>

        <div class="field">
            <label for="email">{{ 'Email' | translate }}</label>
            <input type="text" autocomplete="off" [disabled]="!isNew" pInputText id="email" [(ngModel)]="partner.email" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !partner.email}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !partner.email">{{ 'Field is required' | translate: {field: 'Email' | translate} }}</small>
        </div>

        <div class="field">
            <label for="pwd">{{ 'Password' | translate }}</label>
            <p-password id="pwd" [(ngModel)]="partner.password" [required]="isNew" placeholder="{{ 'Password' | translate }}" [toggleMask]="true" styleClass="w-full mb-3" [ngClass]="{'ng-invalid ng-dirty' : submitted && !partner.password}"></p-password>
            <small class="ng-dirty ng-invalid" *ngIf="isNew && submitted && !partner.password">{{ 'Field is required' | translate: {field: 'Password' | translate} }}</small>
        </div>

        <div class="field">
            <label for="role">{{ 'Role' | translate }}</label>
            <p-dropdown id="role" [options]="roles" [(ngModel)]="partner.role_id" optionValue="id">
                <ng-template pTemplate="selectedItem">
                    <i class="pi pi-circle-fill" [style]="{color: findRoleColor(partner.role_id)}"></i>
                    {{ roleRenderer(partner.role_id) + " role" | translate }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <i class="pi pi-circle-fill" [style]="{color: item.color_name}"></i>
                    {{ item.name + " role" | translate }}
                </ng-template>
            </p-dropdown>
        </div>

        <div class="field">
            <label for="status">{{ 'Status' | translate }}</label>
            <p-dropdown id="status" [options]="statuses" optionValue="code" [(ngModel)]="partner.status" placeholder="Select a Status">
                <ng-template pTemplate="selectedItem">
                    {{ lemonade.comboRenderer(statuses, partner.status) | translate }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{ item.name | translate }}
                </ng-template>
            </p-dropdown>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'Cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ 'Save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
