
<p-card>
    <ng-template pTemplate="title">
        {{ 'Duration' | translate }}
    </ng-template>
    <ng-template pTemplate="subtitle">
        {{ 'Choose your time length' | translate }}
    </ng-template>
    <ng-template pTemplate="content">
        <div class="p-fluid formgrid grid">
            <div class="field col-12">
                <label for="time">{{ 'Service' | translate }}</label>
                <b>{{ appointmentService.selectedService ? appointmentService.selectedService.name : '' }}</b>
            </div>
            <div class="field col-12" *ngIf="appointmentService.selectedService && appointmentService.selectedService.trainer">
                <label for="time">{{ 'Trainer' | translate }}</label>
                <b>{{ appointmentService.selectedService.trainer.name }}</b>
            </div>
            <div class="field col-12" *ngIf="appointmentService.selectedService && appointmentService.selectedService.room">
                <label for="time">{{ 'Room' | translate }}</label>
                <b>{{ appointmentService.selectedService.room.name }}</b>
            </div>
            <div class="field col-12 md:col-6">
                <label for="time">{{ 'Time Length' | translate }}</label>
                <p-dropdown id="time" [options]="appointmentService.tableSessions" [(ngModel)]="timeInformation.noOfSession" (onChange)="storeUserPref($event)" optionValue="code">
                    <ng-template pTemplate="selectedItem">
                        {{ appointmentService.getSessionName(timeInformation.noOfSession) }}
                    </ng-template>
                    <ng-template let-time pTemplate="item">
                        <div *ngIf="time.hour > 0 && time.minute != 30 && time.minute != 0" [translate]="'hour Minutes'" [translateParams]="{hour: time.hour, s: time.hour > 1 ? 's' : '', minute: time.minute, ms: time.minute > 1 ? 's' : ''}"></div>
                        <div *ngIf="time.hour > 0 && (time.minute == 30 || time.minute == 0)" [translate]="'hour Hours'" [translateParams]="{hour: time.hour, s: time.hour > 1 ? 's' : ''}"></div>
                        <div *ngIf="time.hour == 0" [translate]="'N minutes'" [translateParams]="{minute: time.minute, s: time.minute > 1 ? 's' : ''}"></div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter {{ serviceSelection ? 'justify-content-between ng-star-inserted' : 'justify-content-end'}}">
            <p-button *ngIf="serviceSelection" label="{{ 'Service' | translate }}" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            <p-button label="{{ 'Date & Time' | translate }}" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
        <div class="grid grid-nogutter {{ serviceSelection ? 'justify-content-between ng-star-inserted' : 'justify-content-end'}}">
            <div *ngIf="serviceSelection"class="flex align-items-center justify-content-center p-2 border-round mr-1">{{ 'Selected' | translate }}: {{ selectedPreviousDescription() }}</div>
            <div class="flex align-items-center justify-content-center p-2 border-round mr-1">{{ 'Selected' | translate }}: {{ selectedDescription() }}</div>
        </div>
    </ng-template>
</p-card>

