
<h4>{{ 'Focus' | translate }}</h4>
<div class="card">
    <div class="p-fluid grid">
        <div class="field col-12 md:col-4">
            <p-calendar [(ngModel)]="date" [selectionMode]="calselectmode" placeholder="{{ 'Search F' | translate:{field: 'Payment Date' | translate } }}" [readonlyInput]="true" (onSelect)="loadData($event)" [dateFormat]="lemonade.dateFormat"></p-calendar>
        </div>
        <div class="field col-12 md:col-4">
            <p-dropdown [hidden]="!showRooms" [options]="rooms" [(ngModel)]="selectedRoom" [showClear]="true" placeholder="{{ 'Search F' | translate:{field: 'Room' | translate } }}" (onChange)="loadData($event)" optionValue="id" optionLabel="name"></p-dropdown>

        </div>
        <div class="field col-12 md:col-4">
            <p-toggleButton [(ngModel)]="showRooms" offLabel="{{ 'Room first' | translate }}" onLabel="{{ 'Calendar first' | translate }}" onIcon="pi pi-clock" offIcon="pi pi-calendar" [style]="{ width: '10em' }" (onChange)="toggleTableCalendar()" ></p-toggleButton>
        </div>
    </div>
    <div *ngIf="norecord ; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock><center><h3>{{ 'No record found.' | translate }}</h3></center></ng-template>
    <ng-template #elseBlock>
    <div class="grid grid-nogutter">
         <div class="col" *ngFor="let title of cardtitle; let i = index ">
            <div class="text-center p-2 border-solid border-round-sm font-bold m-1">{{title}}</div>

              <!--  <div  *ngFor="let appointmentMon of appointments1">

                    <div class="text-center p-3 border-round-sm bg-primary font-bold" >
                        <h3>{{appointmentMon.title}}

                        </h3>
                        <p>{{appointmentMon.start}}-{{appointmentMon.end}}</p>
                        <p>{{appointmentMon.room_name}}</p>

                        <div *ngFor="let cusbkg of appointmentMon.customer_bookings">

                            <p>{{cusbkg.customer.name}}</p>

                        </div>
                         {{appointmentMon.package ? appointmentMon.package.id : '000'}}
                        <br>
                    </div>
                </div> -->
            <div *ngIf="filterAppointments[i]">
                <app-appointment-block-items *ngFor="let appointment1 of filterAppointments[i]" [appointment]="appointment1" ></app-appointment-block-items>
            </div>
        </div>

    </div>
</ng-template>
</div>
