/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";
@import "assets/sass/layout/_variables";
@import "assets/sass/layout/_layout";
@import "assets/sass/overrides/_overrides";

body{
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

.user-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    &.status-banned {
        background: #FFCDD2;
        color: #c63737;
    }
    &.status-suspended {
        background: #FEEDAF;
        color: #8a5340;
    }
    &.status-active {
        background: #C8E6C9;
        color: #256029;
    }
}

.role-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    color: #ffffff;
    &.role-manager {
        background: var(--orange-500);
    }
    &.role-user {
        background: var(--gray-500);
    }
    &.role-member {
        background: var(--green-500);
    }
    &.role-internal_coach {
        background: var(--cyan-500);
    }
    &.role-external_coach {
        background: var(--purple-500);
    }
}

.booking-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    &.status-rejected {
        background: #FFCDD2;
        color: #c63737;
    }
    &.status-canceled {
        background: #FEEDAF;
        color: #8a5340;
    }
    &.status-approved {
        background: #C8E6C9;
        color: #256029;
    }
    &.status-pending {
        background-color: #b3e5fc;
        color: #23547b;
    }
}

.menu-user-name {
    font-weight: bold;
}

.form-checkbox {
    margin-top: 5px;
}

.lemonade-row-edit-true {
    font-weight: bold;
    font-style: italic;
}

.lemonade-edit-footer {
    button {
        width: auto !important;
    }
}

.required {
    color: red;
}
