
<p-card>
    <h5>Vertical</h5>
    <div class="grid">
        <div class="col-3 flex align-items-center justify-content-center">
            <div class="p-fluid">
                <p-calendar styleClass="myWid70" [inline]="true" [minDate]="today" [maxDate]="maxBookDate"></p-calendar>
            </div>
        </div>

        <div class="col-2">
            <p-divider layout="vertical">
<!--                <b>OR</b>-->
            </p-divider>
        </div>

        <div class="col-6 align-items-center justify-content-center">
            <h4>Select the Appointment Time</h4>
            <div class="p-fluid">
                <p-selectButton styleClass="ts-btn" [options]="timeSlots" optionLabel="start" optionValue="start">
                    <ng-template let-item>
                        {{formatTime(item.start)}} - {{formatTime(item.end)}}<br />
                        HKD {{item.price}}
                    </ng-template>
                </p-selectButton>
            </div>
<!--            <div class="p-fluid">-->
<!--                <div *ngFor="let item of timeSlots" class="field-radiobutton timeslot col-2">-->
<!--                    <div class="{{item.isChecked}}">-->
<!--                        <p-radioButton [inputId]="item.id" name="city" [value]="item" [(ngModel)]="valRadio" (onClick)="checkTimeAvailability(item)"></p-radioButton>-->
<!--                        <label [for]="item.id">{{formatTime(item.start)}} - {{formatTime(item.end)}}</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </div>
    </div>
</p-card>

