<div class="flex justify-content-between">
    <div class="flex align-items-center justify-content-center p-2 border-round mr-1 text-2xl font-bold">
        {{ 'Table' | translate }}
    </div>
    <div class="flex align-items-center justify-content-center p-2 border-round mr-1">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
    </div>
</div>
<div class="card">

    <p-table [value]="rooms" [loading]="loading" dataKey="id" sortField="name" sortMode="single"  responsiveLayout="stack">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:200px">{{ 'Name' | translate }}</th>
                <th style="min-width:120px">{{ 'Status' | translate }}</th>
                <th style="min-width:150px">{{ 'Location' | translate }}</th>
                <th style="min-width:20px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-room let-rowIndex="rowIndex">
            <tr>
                <td style="min-width:200px">
                    <span class="p-column-title">{{ 'Name' | translate }}</span>
                    <div>
                        {{ room.name }}
                        <span class="vertical-align-super text-xs user-badge status-{{ room.appointment_id > 0 ? 'banned' : 'active' }}"><i class="pi pi-circle text-xs pt-2 {{ room.appointment_id > 0 ? 'text-pink-500' : 'text-green-500' }}"></i> {{ room.appointment_id > 0 ? 'Occupied' : 'Free' }}</span>
                    </div>
                </td>
                <td style="min-width:120px">
                    <span class="p-column-title">{{ 'Status' | translate }}</span>
                    <span [class]="'user-badge status-' + lemonade.comboRenderer(statuses, room.status).toLowerCase()">{{ lemonade.comboRenderer(statuses, room.status).toLowerCase() | translate }}</span>
                </td>
                <td style="min-width:150px">
                    <span class="p-column-title">{{ 'Location' | translate }}</span>
                    {{ room.location.name }}
                </td>
                <td style="min-width:20px">
                    <span class="p-column-title">{{ 'Actions' | translate }}</span>
                    <div>
                        <button pButton type="button" [disabled]="!canAmend(room)" pTooltip="{{ 'Edit' | translate }}" tooltipPosition="bottom" class="p-0 p-button-text" icon="pi pi-pencil" (click)="edit(room)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="formDialog" [style]="{width:'50em', height: '100vh'}" header="{{ formHeader | translate }}" position="right" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">{{ 'Name' | translate }}</label>
            <input type="text" pInputText id="name" [(ngModel)]="room.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !room.name}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !room.name">Name is required.</small>
        </div>
        <div class="field">
            <label for="location">{{ 'Location' | translate }}</label>
            <p-dropdown id="location" [options]="locations" [(ngModel)]="room.location_id" optionLabel="name" optionValue="id"></p-dropdown>
        </div>

        <div class="field">
            <label for="status">{{ 'Status' | translate }}</label>
            <p-dropdown id="status" [options]="statuses" optionValue="code" [(ngModel)]="room.status" placeholder="Select a Status">
                <ng-template pTemplate="selectedItem">
                    {{ lemonade.comboRenderer(statuses, room.status) | translate }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    {{ item.name | translate }}
                </ng-template>
            </p-dropdown>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'Cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ 'Save' | translate }}" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
